
@{
    ViewBag.Title = "InvitationManage";
      Layout = "~/Views/Shared/_MasterPage.cshtml";
}

<link href="~/assets/Custom css/TABLE_BORDERED.css" rel="stylesheet" />

<link href="~/CustomCSS/InvitationCard/InputSenderInfo.css" rel="stylesheet" />
<link href="~/CustomCSS/InvitationCard/InputSenderLib.css" rel="stylesheet" />
<link href="~/CustomCSS/User/InviteManage.css" rel="stylesheet" />


<div class="main-wrapper p-t-20">
    <h2 class="big-title m-t-0 m-b-25 m-t-20 col s12">Giấy hẹn của tôi</h2>
    <div class="card">
        <div class="m-b-40 m-t-30 text-responsive">
            <table id="mainTable" class="table-bordered">
                <thead>
                    <tr>
                        <th class="width-8">Mã hồ sơ</th>
                        <th class="width-12">Ngày tạo</th>
                        <th class="width-12">Tên giấy hẹn</th>
                        <th class="width-10">Mã vận đơn</th>
                        <th class="width-15">Tổng tiền</th>
                        <th class="width-15">Trạng thái đơn hàng</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.listOrder)
                    {
                        <tr>
                            <td>
                                <a class="a-reset" href="~/giay-hen/trang-thai-giay-hen">
                                    <span class="light-blue-text hover-pointer hover-underline">@item.AppointmentLetterCode</span>
                                </a>
                            </td>
                            <td>@item.OrderDate</td>
                            <td>@item.ProfileName</td>
                            <td>@item.ItemCode</td>
                            <td>@item.Amount</td>
                            <td>@item.StatusName</td>
                        </tr>
                    }
                    @*<tr>
                            <td>
                                <a class="a-reset" href="~/giay-hen/trang-thai-giay-hen">
                                    <span class="light-blue-text hover-pointer hover-underline">HS1</span>
                                </a>
                            </td>
                            <td>10/10/2019</td>
                            <td>Lấy CMT</td>
                            <td>Chưa có</td>
                            <td>Chưa có</td>
                            <td>Đang chờ tiếp nhận</td>
                        </tr>
                        <tr>
                            <td>
                                <a class="a-reset" href="~/giay-hen/trang-thai-giay-hen">
                                    <span class="light-blue-text hover-pointer hover-underline">HS2</span>
                                </a>
                            </td>
                            <td>10/10/2019</td>
                            <td>Lấy bằng lái xe</td>
                            <td>VD2</td>
                            <td>40.000đ</td>
                            <td>Đã tiếp nhận</td>
                        </tr>
                        <tr>
                            <td>
                                <a class="a-reset" href="~/giay-hen/trang-thai-giay-hen">
                                    <span class="light-blue-text hover-pointer hover-underline">HS3</span>
                                </a>
                            </td>
                            <td>10/10/2019</td>
                            <td>Lấy bằng lái ô tô</td>
                            <td>VD3</td>
                            <td>40.000đ</td>
                            <td>Lấy giấy tờ thành công</td>
                        </tr>
                        <tr>
                            <td>
                                <a class="a-reset" href="~/giay-hen/trang-thai-giay-hen">
                                    <span class="light-blue-text hover-pointer hover-underline">HS4</span>
                                </a>
                            </td>
                            <td>10/10/2019</td>
                            <td>Lấy sổ đỏ</td>
                            <td>VD4</td>
                            <td>40.000đ</td>
                            <td>Đang phát</td>
                        </tr>
                        <tr>
                            <td>
                                <a class="a-reset" href="~/giay-hen/trang-thai-giay-hen">
                                    <span class="light-blue-text hover-pointer hover-underline">HS5</span>
                                </a>
                            </td>
                            <td>20/9/2019</td>
                            <td>Lấy hộ chiếu</td>
                            <td>VD5</td>
                            <td>40.000đ</td>
                            <td>Đã phát thành công</td>
                        </tr>*@
                </tbody>
            </table>
        </div>
    </div>
</div>
