
@{
    ViewBag.Title = "DisplayStatisticChart";
    Layout = "~/Views/Shared/_AdminMasterPage.cshtml";
}



<link href="~/CustomCSS/InvitationCard/DisplayStatisticChart.css" rel="stylesheet" />
<script src="../../assets/libs/echarts/dist/echarts-en.min.js"></script>
<script src="../../dist/js/custom.min.js"></script>
<link href="~/CustomCSS/preloader/DisplayStatus.css" rel="stylesheet" />
<link href="~/CustomJS/datepicker_src/dist/css/datepicker.min.css" rel="stylesheet" />
<link href="~/CustomJS/datepicker_src/dist/css/custom.css" rel="stylesheet" />
<link href="~/CustomJS/datepicker_src/dist/css/font.css" rel="stylesheet" />
<script src="~/CustomJS/datepicker_src/dist/js/datepicker.js"></script>
<script src="~/CustomJS/datepicker_src/dist/js/i18n/datepicker.vi.js"></script>
<style>
    .icon{
        color:gray;
        margin-right:10px;
    }
    .col.s12.l6.center-text * {
    margin-bottom: 10px !important;
}
    table#talbe {
    margin-left: auto;
    margin-right: auto;
    width:90%;
}
</style>
<div class="container-fluid">


    <div class="row">

        <div class="card">

            <div class="card-content">
                <h3 class="font-medium title">Thông tin thủ tục</h3>
                <hr />

                <div class="row">
                    <div class="input-field col s12 m6">
                        <div class="select-wrapper row">
                            <label class="col l4 m4 p-t-10 s12 normal-size">Tỉnh/Thành phố:</label>
                            <div class="col l6 m6 s12">
                                <select tabindex="-1" id="item1">
                                    @{
                                        if (Session["Role"].ToString().Equals("1"))
                                        {
                                            <option selected value="0">Tất cả</option>

                                            foreach (var item in ViewBag.listPro)
                                            {
                                                <option value="@item.PostalProvinceCode">@item.PostalProvinceName</option>
                                            }

                                        }
                                        else
                                        {
                                            <option selected value="@ViewBag.p.PostalProvinceCode">@ViewBag.p.PostalProvinceName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="input-field col s12 m6">
                        <div class="select-wrapper row">
                            <label class="col l4 m4 p-t-10 s12 normal-size">Cơ quan hành chính:</label>
                            <div class="col l6 m6 s12 it3">
                                <select tabindex="-1" id="item3">
                                    <option selected value="0">Tất cả</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="input-field col s12 m6">
                        <div class="select-wrapper row">
                            <label class="col l4 m4 p-t-10 s12 normal-size">Quận/Huyện:</label>
                            <div class="col l6 m6 s12 it2">
                                <select tabindex="-1" id="item2">
                                    @*<option selected value="0">Tất cả</option>*@
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="input-field col s12 m6">
                        <div class="select-wrapper row">
                            <label class="col l4 m4 p-t-10 s12 normal-size">Thủ tục hành chính:</label>
                            <div class="col l6 m6 s12 it4">
                                <select tabindex="-1" id="item4">
                                    <option selected value="0">Tất cả</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
                @*<h4 class="center font-weight-bold m-t-40">
            <span class="tk1">Thống kê tại</span>
            <span class="tk1" id="city"></span>
            <span class="tk1">,</span>
            <span class="tk2" id="district"></span>
            <span class="tk2">,</span>
            <span class="tk3">cơ quan hành chính</span>
            <span class="tk3" id="org"></span>
            <span class="tk3">,</span>
            <span class="tk4">Thủ tục</span>
            <span class="tk4" id="procedure"></span>
        </h4>*@
                @using (Html.BeginForm("ChangeLocation", "DisplayStatisticChart", FormMethod.Post, new
                {
                    id = "formall",
                    enctype = "multipart/form-data",
                    onSubmit = "return SubmitFormAll(this);",
                    data_restUrl = Url.Action("ChangeLocation", "DisplayStatisticChart")
                }))
                {
                    <input type="hidden" id="provine" name="provine" />
                    <input type="hidden" id="district_c" name="district" />
                    <input type="hidden" id="hcc" name="hcc" />
                    <input type="hidden" id="profile" name="profile" />
                }

                <h3 class="font-medium title">Thống kê trong hôm nay</h3>
                <hr />

                <div class="row">
                    <div class="col l4 m6 s12">
                        <div class="card danger-gradient card-hover">
                            <div class="card-content">
                                <div class="d-flex no-block align-items-center">
                                    <div>
                                        <h6 class="white-text">Số hồ sơ đang tiếp nhận</h6>
                                        <h2 id="dangall" class="white-text m-b-5">@ViewBag.odb.total_cho</h2>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--=============================-->
                    <div class="col l4 m6 s12">
                        <div class="card info-gradient card-hover">
                            <div class="card-content">
                                <div class="d-flex no-block align-items-center">
                                    <div>
                                        <h6 class="white-text">Số hồ sơ đã tiếp nhận</h6>
                                        <h2 id="daall" class="white-text m-b-5">@ViewBag.odb.total_da</h2>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--=============================-->

                    <div class="col l4 m6 s12">
                        <div class="card warning-gradient card-hover">
                            <div class="card-content">
                                <div class="d-flex no-block align-items-center">
                                    <div>
                                        <h6 class="white-text">Số hồ sơ đã xử lý</h6>
                                        <h2 id="xongall" class="white-text m-b-5">@ViewBag.odb.total_xong</h2>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @using (Html.BeginForm("ChangeMonth", "DisplayStatisticChart", FormMethod.Post, new
                {
                    id = "form4",
                    enctype = "multipart/form-data",
                    onSubmit = "return SubmitFormMonth(this);",
                    data_restUrl = Url.Action("ChangeMonth", "DisplayStatisticChart")
                }))
                {
                    <input type="hidden" id="provine_chm" name="provine" />
                    <input type="hidden" id="district_c_chm" name="district" />
                    <input type="hidden" id="hcc_chm" name="hcc" />
                    <input type="hidden" id="profile_chm" name="profile" />
                    <input name="year" type='hidden' readonly id="hiddenyear" />
                    <input name="month" type='hidden' readonly id="hiddenmonth" />
                }

                <h3 class="font-medium title">Thống kê theo năm, theo tháng</h3>
                <hr />
                @using (Html.BeginForm("ChangeYear", "DisplayStatisticChart", FormMethod.Post, new
                {
                    id = "form3",
                    enctype = "multipart/form-data",
                    onSubmit = "return SubmitFormYear(this);",
                    data_restUrl = Url.Action("ChangeYear", "DisplayStatisticChart")
                }))
                {
                    <input type="hidden" id="provine_chy" name="provine" />
                    <input type="hidden" id="district_c_chy" name="district" />
                    <input type="hidden" id="hcc_chy" name="hcc" />
                    <input type="hidden" id="profile_chy" name="profile" />
                    <div class="row">
                        <label class="col l1 m4 p-t-10 s12">Chọn năm:</label>
                        <div class="col l6 m6 s12 datepicker-calendar-container row">
                            <i class="fas fa-calendar-alt icon dp48 small p-0-0 col hover-default"></i>
                            <input name="year" type='text' readonly id="dateyear"
                                   class="col s10 l10 datepicker-here form-control date1" autocomplete="off"
                                   data-language='vi' value="2019" data-view="years" data-date-format="yyyy" data-min-view="years" />
                        </div>

                    </div>
                }
                <div class="row">
                    <div class="col l4 m6 s12">
                        <div class="card danger-gradient card-hover">
                            <div class="card-content">
                                <div class="d-flex no-block align-items-center">
                                    <div>
                                        <h6 class="white-text">Số hồ sơ đang tiếp nhận</h6>
                                        <h2 id="dangyear" class="white-text m-b-5">@ViewBag.odbyear.total_cho</h2>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--=============================-->
                    <div class="col l4 m6 s12">
                        <div class="card info-gradient card-hover">
                            <div class="card-content">
                                <div class="d-flex no-block align-items-center">
                                    <div>
                                        <h6 class="white-text">Số hồ sơ đã tiếp nhận</h6>
                                        <h2 id="dayear" class="white-text m-b-5">@ViewBag.odbyear.total_da</h2>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--=============================-->

                    <div class="col l4 m6 s12">
                        <div class="card warning-gradient card-hover">
                            <div class="card-content">
                                <div class="d-flex no-block align-items-center">
                                    <div>
                                        <h6 class="white-text">Số hồ sơ đã xử lý</h6>
                                        <h2 id="xongyear" class="white-text m-b-5">@ViewBag.odbyear.total_xong</h2>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="cyear" class="this-is-chart col l12">
                    <div class="">
                        <div class="analytics-info">
                            <div id="basic-bar" style="height:400px"></div>
                        </div>
                    </div>
                </div>

                <div id="cmonth" class="this-is-chart col l12">
                    <div class="card">
                        <i id="picker-icon" class="unselectable material-icons dp48 small p-0-0 col hover-default">arrow_back</i>
                        <a id="back" class="col l1 m4 p-t-10 s12" style="margin-top:2px; color:black; cursor:pointer">Trở lại</a>
                        <div class="card-content analytics-info">
                            <div id="basic-bar-month" style="height:400px"></div>
                        </div>
                    </div>
                </div>


                <h3 class="font-medium title">So sánh thống kê trong 2 khoảng thời gian</h3>
                <hr />

                <div class="row">
                    @using (Html.BeginForm("ChangeDate", "DisplayStatisticChart", FormMethod.Post, new
                    {
                        id = "form1",
                        enctype = "multipart/form-data",
                        onSubmit = "return SubmitForm(this);",
                        data_restUrl = Url.Action("ChangeDate", "DisplayStatisticChart")
                    }))
                    {
                        <input type="hidden" id="provine_ch1" name="provine" />
                        <input type="hidden" id="district_c_ch1" name="district" />
                        <input type="hidden" id="hcc_ch1" name="hcc" />
                        <input type="hidden" id="profile_ch1" name="profile" />
                        <div class="col s12 l6 center-text">
                            <h4 class="font-medium">Khoảng thời gian 1</h4>
                            <br/>
                            <label class="col l4 m4 p-t-10 s12">Từ ngày:</label>
                            <div class="col l6 m6 s12 datepicker-calendar-container row">
                                <i class="fas fa-calendar-alt icon dp48 small p-0-0 col hover-default"></i>
                                <input name="start" id="start1" type='text' readonly
                                       class="col s10 l10 datepicker-here form-control date1" autocomplete="off"
                                       data-language='vi' value="03/10/2018" />
                            </div>
                            <label class="col l4 m4 p-t-10 s12">Đến ngày:</label>
                            <div class="col l6 m6 s12 datepicker-calendar-container row">
                                <i class="fas fa-calendar-alt icon dp48 small p-0-0 col hover-default"></i>
                                <input name="end" id="end1" type='text' readonly
                                       class="col s10 l10 datepicker-here form-control date1" autocomplete="off"
                                       data-language='vi' value="10/10/2018" />
                            </div>

                        </div>
                    }
                    @using (Html.BeginForm("ChangeDate2", "DisplayStatisticChart", FormMethod.Post, new
                    {
                        id = "form2",
                        enctype = "multipart/form-data",
                        onSubmit = "return SubmitForm2(this);",
                        data_restUrl = Url.Action("ChangeDate2", "DisplayStatisticChart")
                    }))
                    {
                        <input type="hidden" id="provine_ch2" name="provine" />
                        <input type="hidden" id="district_c_ch2" name="district" />
                        <input type="hidden" id="hcc_ch2" name="hcc" />
                        <input type="hidden" id="profile_ch2" name="profile" />
                        <div class="col s12 l6 center-text">

                            <h4 class="font-medium">Khoảng thời gian 2</h4>
                            <br />
                            <label class="col l4 m4 p-t-10 s12 ">Từ ngày:</label>
                            <div class="col l6 m6 s12 datepicker-calendar-container row">
                                <i class="fas fa-calendar-alt icon dp48 small p-0-0 col hover-default"></i>
                                <input name="start" id="start2" type='text' readonly
                                       class="col s10 l10 datepicker-here form-control date2" autocomplete="off"
                                       data-language='vi' value="05/11/2019" />
                            </div>
                            <label class="col l4 m4 p-t-10 s12">Đến ngày:</label>
                            <div class="col l6 m6 s12 datepicker-calendar-container row">
                                <i class="fas fa-calendar-alt icon dp48 small p-0-0 col hover-default"></i>
                                <input name="end" id="end2" type='text' readonly
                                       class="col s10 l10 datepicker-here form-control date2" autocomplete="off"
                                       data-language='vi' value="12/11/2019" />
                            </div>

                        </div>
                    }
                </div>




                <div class="center">
                    <table id="talbe">
                        <tr>
                            <th class="width-1 center-text">Loại hồ sơ</th>
                            <th class="width-1 center-text">Hồ sơ đang chờ tiếp nhận</th>
                            <th class="width-1 center-text">Hồ sơ đã tiếp nhận</th>
                            <th class="width-1 center-text">Hồ sơ đã xử lý xong</th>
                        </tr>
                        <tr>
                            <td class="center-text">Khoảng thời gian</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="pink-cuscol">
                            <td class="center-text"></td>
                            <td class="right-text"></td>
                            <td class="right-text"></td>
                            <td class="right-text"></td>
                        </tr>
                        <tr class="blue-cuscol">
                            <td class="center-text"></td>
                            <td class="right-text"></td>
                            <td class="right-text"></td>
                            <td class="right-text"></td>
                        </tr>


                    </table>
                </div>
              




                <div class="row">
                    <div class="col l2"></div>
                    <div class="col l8">
                        <div class="">
                            <div class="analytics-info">
                                <div id="basic-bar-2time" style="height:400px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col l2"></div>

                </div>
                <div class="row">
                    <div class="col s12 l2 m-l-30">
                        <div class="row">
                            <div class="col s3">
                                <div class="h-form-label">

                                </div>
                            </div>
                            <div class="col s3">
                                <div class="h-form-label">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 l3">
                        <div class="row">
                            <div class="col s6">
                                <div class="h-form-label">
                                    <div class="line1"></div>
                                </div>
                            </div>
                            <div class="col s6 l6">
                                <div class="h-form-label">
                                    <div class="m-l">Số hồ sơ đang chờ tiếp nhận</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col s12 l2 m-l-30">
                        <div class="row">
                            <div class="col s3">
                                <div class="h-form-label">

                                </div>
                            </div>
                            <div class="col s3">
                                <div class="h-form-label">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 l3">
                        <div class="row">
                            <div class="col s6">
                                <div class="h-form-label">
                                    <div class="line2"></div>
                                </div>
                            </div>
                            <div class="col s6 l6">
                                <div class="h-form-label">
                                    <div class="m-l">Số hồ sơ đã tiếp nhận</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>


                <div class="row">
                    <div class="col s12 l2 m-l-30">
                        <div class="row">
                            <div class="col s6">
                                <div class="h-form-label">

                                </div>
                            </div>
                            <div class="col s3">
                                <div class="h-form-label">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 l3">
                        <div class="row">
                            <div class="col s6">
                                <div class="h-form-label">
                                    <div class="line3"></div>
                                </div>
                            </div>
                            <div class="col s6 l6">
                                <div class="h-form-label">
                                    <div class="m-l">Số hồ sơ đã xử lý</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>
<script src="~/CustomJS/Document/CustomDisplayStatisticChartWithSubmit.js"></script>

<script>
    var xong, chua, da;
    var xongm, chuam, dam;
    function year() {
        var temp = "@ViewBag.list_xong";
        temp = temp.split("&quot;").join("");
        temp = temp.split("[").join("");
        temp = temp.split("]").join("");
        temp = temp.split("}").join("");
        temp = temp.split("{").join("");
        temp = temp.split("sum:").join("");
        xong = temp.split(",");

        temp = "@ViewBag.list_da";
        temp = temp.split("&quot;").join("");
        temp = temp.split("[").join("");
        temp = temp.split("]").join("");
        temp = temp.split("}").join("");
        temp = temp.split("{").join("");
        temp = temp.split("sum:").join("");
        da = temp.split(",");

        temp = "@ViewBag.list_chua";
        temp = temp.split("&quot;").join("");
        temp = temp.split("[").join("");
        temp = temp.split("]").join("");
        temp = temp.split("}").join("");
        temp = temp.split("{").join("");
        temp = temp.split("sum:").join("");
        chua = temp.split(",");
    }
    var d1; var d2;
    var cho1; var cho2;
    var da1; var da2;
    var xong1; var xong2;

    function getText() {
        var text = $("#item1 option:selected").html();
        $('#provine').val(text);
        $('#provine_ch1').val(text);
        $('#provine_ch2').val(text);
        $('#provine_chy').val(text);
        $('#provine_chm').val(text);

        text = $("#item2 option:selected").html();
        $('#district_c').val(text);
        $('#district_c_ch1').val(text);
        $('#district_c_ch2').val(text);
        $('#district_c_chy').val(text);
        $('#district_c_chm').val(text);

        text = $("#item3 option:selected").html();
        $('#hcc').val(text);
        $('#hcc_ch1').val(text);
        $('#hcc_ch2').val(text);
        $('#hcc_chy').val(text);
        $('#hcc_chm').val(text);

        text = $("#item4 option:selected").html();
        $('#profile').val(text);
        $('#profile_ch1').val(text);
        $('#profile_ch2').val(text);
        $('#profile_chy').val(text);
        $('#profile_chm').val(text);
    }

    $('#item1').change(function () {
        change();
    })

    function change() {
        $('#pre-load').show();

        $.ajax({
            type: "POST",
            url: "/GetDistrict",
            cache: false,
            dataType: 'json',
            data: {
                code: $('#item1').val()
            },
            success: function (response) {
                $('#item2').empty();
                var option = "<option value='0' selected>Tất cả</option>";
                for (var i = 0; i < response.length; i++) {
                    option += "<option value='" + response[i].PostalDistrictCode + "'>" + response[i].PostalDistrictName + "</option>";
                }
                $('#item2').append(option);
                $('#item2').formSelect();
                $('#pre-load').hide();

            },
            error: function () {
                $('#pre-load').hide()
            }
        });

        $("div.it2 select").val("Tất cả");
        $("div.it3 select").val("Tất cả");
        $("div.it4 select").val("Tất cả");
        getText();
        $('#formall').submit();
        change1();
        change2();
        $('#form3').submit();
        $("#cmonth").hide();
        $("#cyear").show();
    }

    $(document).ready(function () {
        year();
        $('.datepicker-inline').hide();
        var d = '@ViewBag.date';
        $('#start1').val(d);
        $('#end1').val(d);
        $('#start2').val(d);
        $('#end2').val(d);

        var y = '@ViewBag.y';
        $("#dateyear").val(y);

        d = '@ViewBag.d';
        $('#talbe').find('tr:eq(2)').find('td:eq(0)').text(d);
        $('#talbe').find('tr:eq(2)').find('td:eq(1)').text(@ViewBag.detail.total_cho);
        $('#talbe').find('tr:eq(2)').find('td:eq(2)').text(@ViewBag.detail.total_da);
        $('#talbe').find('tr:eq(2)').find('td:eq(3)').text(@ViewBag.detail.total_xong);

        $('#talbe').find('tr:eq(3)').find('td:eq(0)').text(d);
        $('#talbe').find('tr:eq(3)').find('td:eq(1)').text(@ViewBag.detail.total_cho);
        $('#talbe').find('tr:eq(3)').find('td:eq(2)').text(@ViewBag.detail.total_da);
        $('#talbe').find('tr:eq(3)').find('td:eq(3)').text(@ViewBag.detail.total_xong);

        getValue();
        update();
        chartYear();
        chartMonth();
        $("#cmonth").hide();
        change();
    });

    $("#back").click(function () {
        $("#cmonth").hide();
        $("#cyear").show();
    });


</script>
<script src="~/CustomJS/Document/bar.js"></script>
<script src="~/CustomJS/Document/barMonth.js"></script>
<script src="~/CustomJS/Document/DisplayStatisticChart.js"></script>
@*<script src="~/CustomJS/Document/DisplayStatisticChart.js"></script>*@

<!-- ============================================================== -->
<!-- All Required js -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Apps -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Custom js -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- This page plugin js -->
<!-- ============================================================== -->
