
@{
    ViewBag.Title = "InputInformationScreen21";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}



<link href="~/CustomCSS/InvitationCard/InputInforScreen21.css" rel="stylesheet" />
<script src="~/CustomJS/InputInforScreen21.js"></script>
<link href="~/CustomCSS/InvitationCard/InputInforScreen21.css" rel="stylesheet" />

<link href="~/CustomCSS/InvitationCard/InputInfo.css" rel="stylesheet" />
<link href="~/CustomCSS/preloader/DisplayStatus.css" rel="stylesheet" />

<link href="~/assets/libs/jquery-steps/jquery.steps.css" rel="stylesheet">
<link href="~/assets/libs/jquery-steps/steps.css" rel="stylesheet">

<link href="~/CustomCSS/InvitationCard/InputInfo.css" rel="stylesheet" />
<link href="~/CustomCSS/InvitationCard/InputSenderInfo.css" rel="stylesheet" />
<link href="~/CustomCSS/InvitationCard/InputSenderLib.css" rel="stylesheet" />
<link href="~/CustomCSS/InvitationCard/InputInforScreen22.css" rel="stylesheet" />
<link href="~/CustomCSS/preloader/DisplayStatus.css" rel="stylesheet" />

<script src="~/CustomJS/datepicker_src/dist/js/datepicker.js"></script>
<script src="~/CustomJS/datepicker_src/dist/js/i18n/datepicker.vi.js"></script>
<script src="~/CustomJS/InputInfo.js"></script>

<link href="~/CustomJS/datepicker_src/dist/css/datepicker.min.css" rel="stylesheet" />
<link href="~/CustomJS/datepicker_src/dist/css/custom.css" rel="stylesheet" />
<link href="~/CustomJS/datepicker_src/dist/css/font.css" rel="stylesheet" />



<link href="~/CustomCSS/MaterialStepper/mstepper.css" rel="stylesheet" />
<link href="~/CustomJS/mstepper/mstepper.min.css" rel="stylesheet" />
<script src="~/CustomJS/mstepper/mstepper.min.js"></script>

<div class="container-fluid">
    <div class="page-titles">
        <div class="d-flex align-items-center">

        </div>
    </div>
    <form action="/giay-hen/nhap-giay-hen/thong-tin-yeu-cau">
        <div class="row">
            <h5>1. Thông tin thủ tục</h5>
            <div class="card">
                <div class="h-form b-form">
                    <div class="form-body">
                        <div class="row">
                            <div class="card-content">
                                <ul class="stepper horizontal">
                                    <li class="step active">
                                        <div class="step-title waves-effect">Thông tin thủ tục</div>
                                        <div class="step-content">
                                            <!-- Your step content goes here (like inputs or so) -->
                                            <div class="select-wrapper row">
                                                <div class="col l2"></div>
                                                <p class="col l2 m4 p-t-10 s12 normal-size left bold">Tỉnh/Thành phố:</p>
                                                <div class="col l6 m6 s12">
                                                    <select id="item1">
                                                        <option value="Tỉnh/Thành phố" disabled selected>Tỉnh/Thành phố</option>
                                                        @foreach (vnpost_ocr_system.Models.Province item in ViewBag.Provinces)
                                                        {
                                                            <option value="@item.PostalProvinceCode">@item.PostalProvinceName</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="select-wrapper row">
                                                <div class="col l2"></div>
                                                <p class="col l2 m4 p-t-10 s12 normal-size left bold">Quận/Huyện:</p>
                                                <div class="col l6 m6 s12">
                                                    <select id="item2" tabindex="-1">
                                                        <option value="Quận/Huyện" selected disabled>Quận/Huyện</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="select-wrapper row">
                                                <div class="col l2"></div>
                                                <p class="col l2 m4 p-t-10 s12 normal-size left bold">Tên CQHC:</p>
                                                <div class="col l6 m6 s12">
                                                    <select id="item3" tabindex="-1">
                                                        <option value="Tên CQHC" selected disabled>Tên CQHC</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="select-wrapper row">
                                                <div class="col l2"></div>
                                                <p class="col l2 m4 p-t-10 s12 normal-size left bold">Tên thủ tục:</p>
                                                <div class="col l6 m6 s12">
                                                    <select id="item4" tabindex="-1">
                                                        <option value="Tên thủ tục" selected disabled>Tên thủ tục</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="input-field row">
                                                <div class="col l2"></div>
                                                <p class="col l2 m4 p-t-10 s12 normal-size left bold">Mã giấy hẹn:</p>
                                                <div class="col l6 m6 s12">
                                                    <input class="no-border" id="con1" type="text" required>
                                                </div>
                                            </div>
                                            <div class="input-field row">
                                                <div class="col l2"></div>
                                                <p class="col l2 m4 p-t-10 s12 normal-size left bold">Ảnh chụp giấy hẹn:</p>
                                                <div class="col l6 m6 s12 m-t-15">
                                                    <div class="img-picker"></div>
                                                </div>
                                            </div>
                                            <div class="step-actions row">
                                                <!-- Here goes your actions buttons -->
                                                <button class="waves-effect waves-dark btn next-step">Tiếp tục</button>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="step">
                                        <div class="step-title waves-effect">Thông tin yêu cầu giải quyết TTHC</div>
                                        <div class="step-content">
                                            <div class="row">
                                                @if (ViewBag.contactInfos == null)
                                                {
                                                    <p class="col s12 big-heading m-b-15">
                                                        Bạn chưa có thông tin
                                                        <span class="show-form light-blue-text hover-pointer hover-underline">
                                                            Tạo thông tin mới
                                                        </span>
                                                    </p>
                                                }
                                                else
                                                {

                                                    <p class="col s12 big-heading m-b-15">Chọn thông tin có sẵn bên dưới:</p>
                                                    foreach (vnpost_ocr_system.Models.ContactInfoDB item in ViewBag.contactInfos)
                                                    {
                                                        <div class="col s12 m-b-40">
                                                            <div class="info-list-div ">
                                                                <div class="row p-b-20">
                                                                    <p class="content-text highlight col s12">@item.FullName</p>
                                                                    <p class="content-text col s12">@item.Street</p>
                                                                    <p class="content-text col s12">Số điện thoại: @item.Phone</p>
                                                                    <p class="content-text col s12">Loại giấy tờ tùy thân: @item.PersonalPaperTypeName</p>
                                                                    <p class="content-text col s12">Số giấy tờ tùy thân: @item.PersonalPaperNumber</p>
                                                                    <p class="content-text col s12">Ngày cấp: @(item.PersonalPaperIssuedDate == null ? "" : item.PersonalPaperIssuedDate.GetValueOrDefault().ToString("dd/MM/yyyy"))</p>
                                                                    <p class="content-text col s12">Nơi cấp: @(item.PersonalPaperIssuedPlace == null ? "" : item.PersonalPaperIssuedPlace)</p>
                                                                    <div class="col s12 m-t-10">
                                                                        <div class="row">
                                                                            <div class="col l4 s12 p-t-10">
                                                                                <a class="btn waves-effect waves-light bt-color-common">Sử dụng thông tin này</a>
                                                                            </div>
                                                                            <div class="col l2 s12 p-t-10">
                                                                                <a class="modal-trigger btn waves-effect waves-light bt-color-common" href="#edit">Chỉnh sửa</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }

                                                <p class="col s12 big-heading m-b-15">
                                                    Bạn muốn sử dụng thông tin khác?
                                                    <span class="show-form light-blue-text hover-pointer hover-underline">
                                                        Nhập thông tin mới
                                                    </span>
                                                </p>
                                            </div>
                                            <div class="step-actions">
                                                <!-- Here goes your actions buttons -->
                                                <button class="waves-effect waves-dark btn next-step">Tiếp tục</button>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="step">
                                        <div class="step-title waves-effect">Thông tin người gửi</div>
                                        <div class="step-content">
                                            <!-- Your step content goes here (like inputs or so) -->
                                            <div class="step-actions">
                                                <!-- Here goes your actions buttons -->
                                                <button class="waves-effect waves-dark btn next-step">Tiếp tục</button>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="step">
                                        <div class="step-title waves-effect">Thông tin người nhận</div>
                                        <div class="step-content">
                                            <!-- Your step content goes here (like inputs or so) -->
                                            <div class="step-actions">
                                                <!-- Here goes your actions buttons -->
                                                <button class="waves-effect waves-dark btn next-step">Tiếp tục</button>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                @*<div class="md-stepper-horizontal temp customStep">
                                    <div class="md-step">
                                        <a>
                                            <div class="md-step-circle"><span>2</span></div>
                                            <div class="md-step-title">Thông tin yêu cầu giải quyết TTHC</div>
                                            <div class="md-step-bar-left"></div>
                                            <div class="md-step-bar-right"></div>
                                        </a>
                                    </div>
                                    <div class="md-step">
                                        <a>
                                            <div class="md-step-circle"><span>3</span></div>
                                            <div class="md-step-title">Thông tin người gửi</div>
                                            <div class="md-step-bar-left"></div>
                                            <div class="md-step-bar-right"></div>
                                        </a>
                                    </div>
                                    <div class="md-step">
                                        <a href="~/giay-hen/nhap-thong-tin-nguoi-nhan">
                                            <div class="md-step-circle"><span>4</span></div>
                                            <div class="md-step-title">Thông tin người nhận</div>
                                            <div class="md-step-bar-left"></div>
                                            <div class="md-step-bar-right"></div>
                                        </a>
                                    </div>
                                </div>*@
                                <div class="card">
                                    <div class="h-form b-form">
                                        <div class="form-body">


                                            <div id="contact" class="card-content customDis">
                                                <h4 class="mgbt">(*)Thông tin liên hệ hỗ trợ</h4>
                                                <div class="row">
                                                    <div class="col l2"></div>
                                                    <p class="col l2 s12 normal-size left">Địa chỉ CQHCC:</p>
                                                    <p class="col l6">Quận Ba Đình, Hà Nội</p>

                                                </div>
                                                <div class="row">
                                                    <div class="col l2"></div>
                                                    <p class="col l2 s12 normal-size left">Số điện thoại CQHCC:</p>
                                                    <p class="col l4">912213855</p>

                                                </div>
                                                <div class="row">
                                                    <div class="col l2"></div>
                                                    <p class="col l2 s12 normal-size left">Tên bưu cục đầu mối:</p>
                                                    <p class="col l4">KHL Hùng Vương</p>

                                                </div>
                                                <div class="row">
                                                    <div class="col l2"></div>
                                                    <p class="col l2 s12 normal-size left">Địa chỉ bưu cục đầu mối:</p>
                                                    <p class="col l4">Số 175, Phố Nguyễn Thái Học, Phường Điện Biên</p>

                                                </div>
                                                <div class="row">
                                                    <div class="col l2"></div>
                                                    <p class="col l2 s12 normal-size left">Số điện thoại bưu cục đầu mối:</p>
                                                    <p class="col l4">439435895</p>

                                                </div>
                                            </div>
                                            <div></div>
                                        </div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div></div>
                    </div>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="row mt">
            <div class="col s12">

            </div>
        </div>
        @*<div class="row m-t-30 m-b-30">
            <div class="col s1 m6 l6 m6">
                <div class="input-field row">
                    <p class="col l4 m4 p-t-10 s12"></p>
                    <div class="col l6 m6 s12">

                    </div>
                </div>
            </div>
            <div class="col s11 m6 l6 m6">
                <div class="input-field row">
                    <p class="col l4 m4 p-t-10 s12"></p>
                    <div class="col l6 m6 s12 right-align">
                        <button class="btn waves-effect waves-light bt-color-common p-l-40 p-r-40" type="submit">
                            Gửi
                        </button>
                    </div>
                </div>
            </div>
        </div>*@
    </form>
</div>

<div id="edit" class="modal fade">
    <div class="form-wrapper">
        <div class="row">
            <div class="col s12 l12 m12">
                <div class="input-field row">
                    <p class="col l3 m3 p-t-10 s12">Họ và tên:</p>
                    <div class="col l9 m9 s12">
                        <input id="con1" type="text" value="">
                    </div>
                </div>
            </div>
            <div class="col s12 l12 m12">
                <div class="input-field row">
                    <p class="col l3 m3 p-t-10 s12">Số điện thoại:</p>
                    <div class="col l9 m9 s12">
                        <input id="con1" type="text" value="">
                    </div>
                </div>
            </div>
            <div class="input-field col s12 m12">
                <div class="row">
                    <div class="col l3 m3 p-t-10 s12 ">Tỉnh/Thành phố:</div>
                    <div class="col l9 m9 s12">
                        <select tabindex="-1" class="card-border">
                            <option value="1" selected>Hà Nội</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="input-field col s12 m12">
                <div class="select-wrapper row">
                    <div class="col l3 m3 p-t-10 s12 ">Quận/Huyện:</div>
                    <div class="col l9 m9 s12">
                        <select tabindex="-1" class="card-border">
                            <option value="1" selected>Quận Thạch Thất</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="input-field col s12 m12">
                <div class="select-wrapper row">
                    <div class="col l3 m3 p-t-10 s12 ">Địa chỉ:</div>
                    <div class="col l9 m9 s12">
                        <textarea></textarea>
                    </div>
                </div>
            </div>
            <div class="input-field col s12 m12">
                <div class="row">
                    <div class="col l3 m3 p-t-10 s12 ">Loại giấy tờ tùy thân:</div>
                    <div class="col l9 m9 s12">
                        <select tabindex="-1" class="card-border">
                            <option value="1" selected>Chứng minh nhân dân</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col s12 l12 m12">
                <div class="input-field row">
                    <p class="col l3 m3 p-t-10 s12">Số GTGT:</p>
                    <div class="col l9 m9 s12">
                        <input id="con1" type="text" value="">
                    </div>
                </div>
            </div>
            <div class="col s12 l12 m12">
                <div class="input-field row">
                    <p class="col l3 m3 p-t-10 s12">Ngày cấp:</p>
                    <div class="col l9 m9 s12 datepicker-calendar-container row">
                        <input name="dateTLHD" id="datepicker" type='text' readonly
                               class="col s10 l10 datepicker-here centerText" autocomplete="off"
                               data-language='vi' value="16/10/2019" />
                        <i id="picker-icon" class="unselectable material-icons dp48 small p-0-0 col hover-default">date_range</i>
                    </div>
                </div>
            </div>
            <div class="col s12 l12 m12">
                <div class="input-field row">
                    <p class="col l3 m3 p-t-10 s12">Nơi cấp:</p>
                    <div class="col l9 m9 s12">
                        <input id="con1" type="text" value="">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="input-field col s12 m12">
                        <div class="select-wrapper row">
                            <div class="col l3 m3 p-t-10 s12 "></div>
                            <div class="col l9 m9 s12">
                                <a class="hide-form col l5 s12 btn waves-effect waves-light bt-color-common m-b-20 modal-close">Hủy Bỏ</a>
                                <a class="col offset-l2 l5 s12 btn waves-effect waves-light bt-color-common p-l-40 p-r-40" id="save_profile1">Lưu</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/libs/jquery-steps/build/jquery.steps.min.js"></script>
<script src="~/assets/libs/jquery-validation/dist/jquery.validate.min.js"></script>

<script>
    var stepper = document.querySelector('.stepper');
    var stepperInstace = new MStepper(stepper, {
        // options
        firstActive: 0, // this is the default
        linearStepsNavigation: false,
    })
    stepper.addEventListener('stepchange', function () {
        this.nextstep
    });
    
    $(document).ready(function () {
        $('#item1').change(function () {
            $('#pre-load').show()
            $.ajax({
                type: "POST",
                url: "/GetDistrict",
                cache: false,
                dataType: 'json',
                data: {
                    code: $(this).val()
                },
                success: function (response) {
                    $('#item2').empty();
                    var option = "<option value='Quận/Huyện' selected disabled>Quận/Huyện</option>";
                    for (var i = 0; i < response.length; i++) {
                        option += "<option value='" + response[i].PostalDistrictCode + "'>" + response[i].PostalDistrictName + "</option>";
                    }
                    $('#item2').append(option);
                    $('#item2').formSelect();
                    $('#pre-load').hide()
                },
                error: function () {
                    $('#pre-load').hide()
                }
            })
        })

        $('#item2').change(function () {
            $('#pre-load').show()
            $.ajax({
                type: "POST",
                url: "/GetAdmins",
                cache: false,
                dataType: 'json',
                data: {
                    code: $(this).val()
                },
                success: function (response) {
                    console.log(response)
                    $('#item3').empty();
                    var option = "<option value='Tên CQHC' selected disabled>Tên CQHC</option>";
                    for (var i = 0; i < response.length; i++) {
                        option += "<option value='" + response[i].PublicAdministrationLocationID + "'>" + response[i].PublicAdministrationName + "</option>";
                    }
                    $('#item3').append(option);
                    $('#item3').formSelect();
                    $('#pre-load').hide()
                },
                error: function () {
                    $('#pre-load').hide()
                }
            })
        })

        $('#item3').change(function () {
            $('#pre-load').show()
            $.ajax({
                type: "POST",
                url: "/GetProfile",
                cache: false,
                dataType: 'json',
                data: {
                    code: $(this).val()
                },
                success: function (response) {
                    console.log(response)
                    $('#item4').empty();
                    var option = "<option value='Tên thủ tục' selected disabled>Tên thủ tục</option>";
                    for (var i = 0; i < response.length; i++) {
                        option += "<option value='" + response[i].ProfileID + "'>" + response[i].ProfileName + "</option>";
                    }
                    $('#item4').append(option);
                    $('#item4').formSelect();
                    $('#pre-load').hide()
                },
                error: function () {
                    $('#pre-load').hide()
                }
            })
        })
    })
</script>