
@{
    Layout = null;
    ViewBag.Title = null;
}
<html>
<head>

    <link href="~/assets/materialize/css/materialize.css" rel="stylesheet" />
    <link href="~/assets/materialize/css/materialize.min.css" rel="stylesheet" />
    <link href="~/assets/Custom css/Mobile/login-css/icon.css" rel="stylesheet" />
    <link href="~/assets/Custom css/Mobile/login-css/login-style.css" rel="stylesheet" />
    <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
    <meta name="viewport" content="user-scalable=no" />
    <link href="~/CustomCSS/preloader/css.css" rel="stylesheet" />
</head>

<body>
    <!--navbar-->
    <div class="wrapper">
        <div id="pre-load" hidden>
            <div class="loading">
                <div class="progress">
                    <div class="indeterminate"></div>
                </div>
            </div>
        </div>
        <div class="preloader" hidden>
            <div class="loading">
                <div class="progress">
                    <div class="indeterminate"></div>
                </div>
            </div>
        </div>
        <div class="row help-container">
            <a id="help-link" class="left" href="/Home/index"><i class="material-icons dp48">home</i></a>
            <a id="help-link" class="right modal-trigger " href="#helpModal"><i class="material-icons dp48">help</i></a>
        </div>
        <div class="row login-logo">
            <div class="row center logo">
                <img src="/assets/images/login-logo.png" />
            </div>
        </div>
        <h2 class="center-align grey-text darken-4 login-title">HỆ THỐNG TIẾP NHẬN HỒ SƠ<br /> HÀNH CHÍNH CÔNG</h2>
        <!------------------------------------------------------------------------------------------------------->

        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    <li class="tab col s3 tab-lr"><a class="active" href="#login-container"><h4>Đăng nhập</h4></a></li>
                    <li class="tab col s3 tab-lr"><a href="#register-container"><h4>Đăng ký</h4></a></li>
                </ul>
            </div>
        </div>
        @{
            var username = "";
            var password = "";
            if (ViewBag.login != null)
            {
                username = ViewBag.login.username;
                password = ViewBag.login.password;
            }
        }
        <!------------------------------------------------------------------------------------------------------->
        <div id="login-container">
            <div class="container">
                <div class="row m-b-none">

                    <div class='input-authen input-field col s12'>
                        <i class="material-icons prefix">person</i>
                        <input type="text" id="user" value="@username" placeholder="Tên đăng nhập" class="icon_prefix2" />
                    </div>
                    <div class="col 12">
                        <label class="failed_mess" id="user_failed"></label>
                    </div>
                    <div class='input-authen input-field col s12 padder-x'>
                        <i class="material-icons prefix">lock</i>
                        <input type="password" id="pass" value="@password" placeholder="Mật khẩu" class="icon_prefix2" />
                    </div>
                    <div class="col 12">
                        <label class="failed_mess" id="password_failed"></label>
                    </div>
                    <div class="col s12 reg-and-forget">
                        <div class="col s6">
                            <label>
                                <input id="remem" type="checkbox" class="filled-in" />
                                <span id="remember_check_label">Ghi nhớ mật khẩu</span>
                            </label>
                        </div>
                        <div class="col s6">
                            <a id="forget-link" class="modal-trigger" href="#resetModal">Quên mật khẩu?</a>
                        </div>
                    </div>
                    <button class='login-btn col s12 btn waves-effect waves-light btn btn-large m-md yellow darken-4' onclick="Login()">ĐĂNG NHẬP</button>
                    <button class='login-btn fb-login col s12 btn waves-effect waves-light btn btn-large m-md indigo'>
                        <img src="/assets/images/fb-icon.png" />Đăng nhập qua Facebook
                    </button>
                    <button class='login-btn g-login col s12 btn waves-effect waves-light btn btn-large m-md indigo'>
                        <img src="/assets/images/g-icon.png" />Đăng nhập qua Google
                    </button>

                </div>
            </div>
        </div>
        <!------------------------------------------------------------------------------------------------------->
        <div id="register-container">
            <div class="container">
                <div class="row m-b-none">
                
                        <div class='input-authen input-field col s12'>
                            <i class="material-icons prefix">person</i>
                            <input type="text" placeholder="Tên đăng nhập" class="icon_prefix2" />
                        </div>
                        <div class='input-authen input-field col s12 padder-x'>
                            <i class="material-icons prefix">lock</i>
                            <input type="password" placeholder="Mật khẩu" class="icon_prefix2" />
                        </div>
                        <div class='input-authen input-field col s12 padder-x'>
                            <i class="material-icons prefix">lock</i>
                            <input type="password" placeholder="Nhập lại mật khẩu" class="icon_prefix2" />
                        </div>

                        <div class='input-authen input-field col s12'>
                            <i class="material-icons prefix">create</i>
                            <input type="text" placeholder="Họ và tên" class="icon_prefix2" />
                        </div>

                        <div class='input-authen col s12 gender-container'>
                            <i class="material-icons dp48 prefix">face</i>
                            <label>
                                <input class="with-gap" name="gender" value="1" type="radio" />
                                <span>Nam</span>
                            </label>
                            <label>
                                <input class="with-gap" name="gender" value="0" type="radio" />
                                <span>Nữ</span>
                            </label>
                        </div>
                        <br />

                        <div class="col s12 input-authen input-field col s12" style="font-size:35px;color: #848484;">
                            <i class="material-icons prefix" style="font-size:40px;color: #848484;">location_city</i>
                            <select id="province" class="addr-select" onchange="getDis()">
                            </select>

                        </div>
                        <div class="col s12 input-authen input-field col s12" style="font-size:35px;color: #848484;">
                            <i class="material-icons prefix" style="font-size:40px;color: #848484;"></i>
                            <select id="district" class="addr-select" name="distrint">
                            </select>
                        </div>
                        <div class="col s12  sdt-or-email-checkbox">
                            <label div class="left" id="sdt-checkbox">
                                <input type="checkbox" id="phonecheck" class="ep-checkboxes" checked>
                                <span>Số điện thoại</span>
                            </label>
                            <label div class="left" id="email-checkbox">
                                <input type="checkbox" id="emailcheck" class="ep-checkboxes">
                                <span>Email</span>
                            </label>
                        </div>
                        <div class='input-authen input-field col s12' id="checkboxphone">
                            <div class="col s9">
                                <i class="material-icons prefix">phone</i>
                                <input type="text" placeholder="Số điện thoại" class="icon_prefix2" />
                            </div>
                            <div class="col s3">
                                <button class="red btn small waves-effect waves-light" id="sdt-confirm-btn">GỬI MÃ</button>
                            </div>
                            <div class="col s9">
                                <i class="material-icons prefix"></i>
                                <input type="text" placeholder="Mã xác thực SĐT" class="icon_prefix2" id="sdt-confirm-code" hidden/>
                            </div>
                        </div>
                        <div class='input-authen input-field col s12' id="checkboxemail">
                            <div class="col s9">
                                <i class="material-icons prefix">email</i>
                                <input type="text" placeholder="Email" class="icon_prefix2" />
                            </div>
                            <div class="col s3">
                                <button class="red btn small waves-effect waves-light" id="email-confirm-btn">GỬI MÃ</button>
                            </div>
                            <div class="col s9">
                                <i class="material-icons prefix"></i>
                                <input type="text" placeholder="Mã xác thực Email" class="icon_prefix2"  id="email-confirm-code" hidden/>
                            </div>
                        </div>
                        <button class='login-btn col s12 btn waves-effect waves-light btn btn-large m-md yellow darken-4'>ĐĂNG KÝ</button>

                 
                </div>
            </div>
        </div>

        <div id="helpModal" class="modal">
            <div class="modal-content">
                <h2>Trợ giúp?</h2>
                <p style="font-size:40px">

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique eros eleifend porttitor blandit.
                    Suspendisse luctus ex nec risus accumsan rhoncus.
                    Proin venenatis, libero ac pretium vestibulum, urna lacus condimentum eros, in consequat diam augue eget dui.
                    Vivamus id est porta, pellentesque felis suscipit, bibendum nulla. Duis molestie nunc sed sollicitudin malesuada.
                    Proin pretium purus nibh, eget dictum ligula egestas a.
                    Suspendisse nisi nunc, sagittis at dignissim a, lacinia in arcu.
                    Vestibulum eu metus nec odio feugiat congue. Vivamus id ex ipsum.
                </p>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat"><h4>Đóng</h4></a>
            </div>
        </div>

        <div id="resetModal" class="modal">
            <div class="modal-content">
                <h2>Đặt lại mật khẩu</h2>
                <p style="font-size:35px">
                    <i> Số điện thoại hoặc email đăng ký:</i>
                    <input type="text" placeholder="SĐT/Email" id="number-email-reset" class="icon_prefix2" />
                </p>
                <div class="row">
                    <button class='login-btn col s12 btn waves-effect waves-light btn-large m-md yellow darken-4'>Gửi mã xác nhận</button>
                </div>
            </div>
            <div class="modal-footer">

                <a href="#!" class="modal-close waves-effect waves-green btn-flat"><h4>Đóng</h4></a>
            </div>
        </div>

    </div>
    <input type="text" id="tem2" value="@ViewBag.invalidcode1" hidden />
    <input type="text" id="tem" value="@ViewBag.invalidcode" hidden />
    <input type="text" id="tem1" value="@ViewBag.messe" hidden />
    <!---->
    <script>
        $(document).ready(function () {
            $('.modal').modal();
            $("#pre-load").css('z-index', 99999);
        });

        $(document).ready(function () {
            $('.tabs').tabs();
        });
        $('#checkboxemail').find("input").prop("readonly",true);
                    $('#checkboxemail').find("button").prop("disabled",true);
    </script>

    <script src="~/assets/materialize/js/materialize.js"></script>
    <script>
        $(".ep-checkboxes").click(function (e) {
            var email = $("#emailcheck").is(":checked");
            var phone = $("#phonecheck").is(":checked");
            if (email === false && phone === false) {
                e.preventDefault();
            } else {
                if ($("#emailcheck").is(":checked") === true) {
                    $('#checkboxemail').find("input").prop("readonly",false);
                    $('#checkboxemail').find("button").prop("disabled", false);
                } else {
                    $('#checkboxemail').find("input").prop("readonly", true);
                    $('#checkboxemail').find("input").val("");
                    $('#checkboxemail').find("button").prop("disabled", true);
                     $("#email-confirm-code").hide("slow", function () { });
                }
                if ($("#phonecheck").is(":checked") === true) {
                    $('#checkboxphone').find("input").prop("readonly",false);
                    $('#checkboxphone').find("button").prop("disabled",false);
                } else {
                    $('#checkboxphone').find("input").prop("readonly",true);
                    $('#checkboxphone').find("input").val("");
                    $('#checkboxphone').find("button").prop("disabled", true);
                     $("#sdt-confirm-code").hide("slow", function () { });
                }
            }

        });
    </script>
    <script>
        $("#sdt-confirm-btn").click(function () {
            $("#sdt-confirm-code").show("slow", function () { });
        });
        $("#email-confirm-btn").click(function () {
            $("#email-confirm-code").show("slow", function () { });
        });
    </script>
    <script>
        $(document).ready(function () {
            if (document.getElementById('tem').value != '') {
                $('#validCodePhone-err').text('Mã xác thực không đúng');
            }
            if (document.getElementById('tem2').value != '') {
                $('#validCodeEmail-err').text('Mã xác thực không đúng');
                $('#emailcheck').attr('checked', 'checked');
                document.getElementById('emailcheck').value = 1;
            }
            if (document.getElementById('tem1').value != '') {
                s
                $('#messe').text(document.getElementById('tem1').value);
            }
            var windowWidth = $(window).width();
            if (windowWidth < 768) {
                $(".set-btn").remove();
            }
            getPro();
            //chen1();
            //chen2();
        });

        function getDis() {
            var emp = {
                id: document.getElementById('province').value
            };
            $.ajax({
                url: "/LoginCustomer/GetDis",
                type: "POST",
                data: JSON.stringify(emp),
                contentType: "application/json;charset=utf-8",
                success: function (result) {
                    $('#district').empty();
                    var string = "<option value='' selected disabled>Quận/Huyện</option>";
                    result.forEach(function (key) {
                        string += "<option value='" + key.PostalDistrictCode + "'>" + key.PostalDistrictName + "</option>";
                    });
                    $('#district').append(string);
                    $('#district').formSelect();
                },
                error: function (errormessage) {
                }
            });
        }

        function getPro() {
            $.ajax({
                url: "/LoginCustomer/GetPro",
                type: "POST",
                contentType: "application/json;charset=utf-8",
                success: function (result) {
                    var string = "<option value='' selected disabled>Tỉnh/Thành</option>";
                    result.forEach(function (key) {
                        string += "<option value='" + key.PostalProvinceCode + "'>" + key.PostalProvinceName + "</option>";
                    });
                    $('#province').append(string);
                    $('#province').formSelect();
                },
                error: function (errormessage) {
                }
            });
        }

        $(document).ready(function () {
            if (document.getElementById('tem').value != '') {
                $('#validCodePhone-err').text('Mã xác thực không đúng');
            }
            if (document.getElementById('tem2').value != '') {
                $('#validCodeEmail-err').text('Mã xác thực không đúng');
                $('#emailcheck').attr('checked', 'checked');
                document.getElementById('emailcheck').value = 1;
            }
            if (document.getElementById('tem1').value != '') {
                $('#messe').text(document.getElementById('tem1').value);
            }
            var windowWidth = $(window).width();
            if (windowWidth < 768) {
                $(".set-btn").remove();
            }
        });

        function Login() {
            var username = document.getElementById('user').value;
            var password = document.getElementById('pass').value;
            if (!username.length == 0) {
                $('#user_failed').html('');
            } else {
                $('#user_failed').html('Vui lòng nhập nhập số điện thoại hoặc email ');
                return;
            }
            if (!password.length == 0) { $('#password_failed').html(''); }
            else {
                $('#password_failed').html('Mật khẩu không được để trống');
                return;
            }
            var emb = {
                user: document.getElementById('user').value,
                pass: document.getElementById('pass').value,
                checkbox: $('#remem').is(":checked")
            };
            $('#pre-load').show();
            $.ajax({
                url: "/LoginCustomer/Login",
                type: "POST",
                data: JSON.stringify(emb),
                contentType: "application/json;charset=utf-8",
                success: function (result) {
                    if (result == 1) {
                        $('#user_failed').html('Số điện thoại / Email không đúng');
                    }
                    if (result == 2) {
                        $('#password_failed').html('Mật khẩu không đúng');
                    }
                    if (result == 3) {
                        window.location.href = '/tai-khoan/thong-tin-tai-khoan';
                    }
                    $('#pre-load').hide();
                },
                error: function (errormessage) {
                    $('#pre-load').hide();
                }
            });
        }


        $(document).ready(function () {
            var windowWidth = $(window).width();
            if (windowWidth <= 1023) {
                $("#login-web").remove();
            }
            if (windowWidth > 1023) {
                $("#login-mobile").remove();
            }
        });


        function valid() {
            $('#name-err').text('');
            $('#phone-err').text('');
            $('#validCodePhone-err').text('');
            $('#validCodeEmail-err').text('');
            $('#email-err').text('');
            $('#pass-err').text('');
            $('#rePass-err').text('');
            var name = document.getElementById('tbName').value;
            var phone = document.getElementById('tbPhone').value;
            var validCodePhone = document.getElementById('tbValidCodePhone').value;
            var validCodeEmail = document.getElementById('tbValidCodeEmail').value;
            var email = document.getElementById('tbEmail').value;
            var pass = document.getElementById('tbPass').value;
            var rePass = document.getElementById('tbRePass').value;
            var valid = true;

            if (name.length == 0) {

                $('#name-err').text('Vui lòng nhập tên');
                return false;
            }
            if (document.getElementById('phonecheck').value == 0) {
                if (phone.length == 0) {

                    $('#phone-err').text('Vui lòng nhập số điện thoại');
                    return false;
                }
                if (phone.length != 10 && phone.length > 0) {
                    $('#phone-err').text('Số điện thoại không tồn tại');
                    return false;
                }
                if (validCodePhone.length == 0) {

                    $('#validCodePhone-err').text('Vui lòng nhập mã xác thực');
                    return false;
                }

                if (validCodePhone.length <= 5) {

                    $('#validCodePhone-err').text('Mã xác thực không đúng');
                    return false;
                }
            }
            if (document.getElementById('emailcheck').value == 0) {
                if (email.length == 0) {

                    $('#email-err').text('Vui lòng nhập email');
                    return false;
                }
                if (validCodeEmail.length == 0) {

                    $('#validCodeEmail-err').text('Vui lòng nhập mã xác thực');
                    return false;
                }

                if (validCodeEmail.length <= 5) {

                    $('#validCodeEmail-err').text('Mã xác thực không đúng');
                    return false;
                }
            }
            if (document.getElementById('emailcheck').value == 1 && document.getElementById('phonecheck').value == 1) {
                $('#messe').text('Bạn cần xác thực bằng số điện thoại hoặc email để có thể đăng ký');
                return false;
            }



            //var isEmail = /^[a-zA-Z0-9]{1,}[@@]{1}[a-z]{1,}[.]{1}[a-z]{1,3}$/.test(email);
            //if (isEmail == false) {

            //    $('#email-err').text('Địa chỉ email không hợp lệ');
            //    return false;
            //}



            if (pass.length == 0) {

                $('#pass-err').text('Vui lòng nhập mật khẩu');
                return false;
            }
            if (pass.length < 6 || pass.length > 32) {

                $('#pass-err').text('Mật khẩu gồm 6-32 kí tự');
                return false;
            }
            if (rePass.length == 0) {

                $('#rePass-err').text('Vui lòng nhập trường nhập lại mật khẩu');
                return false;
            }
            if (rePass != pass) {

                $('#rePass-err').text('Mật khẩu nhập lại không khớp');
                return false;
            }
            return valid;
        }
    </script>
</body>
</html>

