
@{
    ViewBag.Title = "InputInformationScreen21";
    Layout = "~/Views/Shared/Mobile/_Layout.cshtml";
}



<script src="~/CustomJS/InputInforScreen21.js"></script>
<link href="~/CustomCSS/InvitationCard/InputInforScreen21.css" rel="stylesheet" />

<link href="~/CustomCSS/InvitationCard/InputInfo.css" rel="stylesheet" />
<link href="~/CustomCSS/preloader/DisplayStatus.css" rel="stylesheet" />

<link href="~/assets/libs/jquery-steps/jquery.steps.css" rel="stylesheet">
<link href="~/assets/libs/jquery-steps/steps.css" rel="stylesheet">

<link href="~/CustomCSS/InvitationCard/InputSenderInfo.css" rel="stylesheet" />
<link href="~/CustomCSS/InvitationCard/InputSenderLib.css" rel="stylesheet" />
<link href="~/CustomCSS/InvitationCard/InputInforScreen22.css" rel="stylesheet" />

<script src="~/CustomJS/datepicker_src/dist/js/datepicker.js"></script>
<script src="~/CustomJS/datepicker_src/dist/js/i18n/datepicker.vi.js"></script>
<script src="~/CustomJS/InputInfo.js"></script>

<link href="~/CustomJS/datepicker_src/dist/css/datepicker.min.css" rel="stylesheet" />
<link href="~/assets/libs/jquery-steps/jquery.steps.css" rel="stylesheet" />
<script src="~/assets/libs/jquery-steps/build/jquery.steps.min.js"></script>

<link href="~/assets/libs/jquery-steps/steps.css" rel="stylesheet" />
<link href="~/assets/libs/toastr/build/toastr.min.css" rel="stylesheet">
<link href="~/assets/uploader/dropzone.min.css" rel="stylesheet" />
<link href="~/assets/uploader/icons.min.css" rel="stylesheet" />

<style>
    .steps.clearfix {
        display: none !important;
    }

    #img-capture-file {
        display: none !important;
    }

    .validation {
        color: red;
    }
</style>
<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-content wizard-content">
                <h2 class="card-title center">TẠO GIẤY HẸN MỚI</h2>
                <form action="/giay-hen/trang-thai-giay-hen" id="myform" method="post" class="validation-wizard wizard-circle m-t-40">
                    <!-- Step 1 -->
                    <h6 class="center step-title"></h6>
                    <section>
                        <div class="row">
                            <div class="col l12 s12 m12">
                                <h6 class="center step-title">1. Ảnh chụp giấy hẹn</h6>
                            </div>
                            <div class="col s12 m12 l12">
                                <br />
                                <label>Dung lượng tối đa 5Mb <i class="fa fa-asterisk" style="font-size:10px;color:red"></i> :</label>
                                <div class="input-field center">
                                    <a class="btn waves-effect waves-light bt-color-common" onclick="rotateLeft()"><i class="material-icons">rotate_left</i></a>
                                    <a class="btn waves-effect waves-light bt-color-common" onclick="rotateRight()"><i class="material-icons">rotate_right</i></a>
                                </div>
                                <div id="img-chooser" class="image-input center col s5 m5 l5">
                                    <i class="small material-icons dp48">cloud_upload</i> Chọn ảnh
                                </div>
                                <div class="col s1 m1 l1"></div>
                                <div id="img-capture" class="image-input center col s5 m5 l5">
                                    <i class="small material-icons dp48">camera_alt</i> Chụp ảnh
                                </div>
                                <input type="file" id="img-chooser-file" onchange="readURL(this);" accept="image/x-png,image/jpeg" class="img-input" hidden>
                                <input type="file" accept="image/*" onchange="readURL(this);" id="img-capture-file" capture="camera" hidden>
                                <div id="img-display" hidden>
                                    <img id="blah" src="#" alt="your image" />
                                </div>
                                <p class="validation" name="item6"></p>
                            </div>
                        </div>
                    </section>
                    <!-- Step 2 -->
                    <h6 class="center step-title"></h6>
                    <section>
                        <div class="row">
                            <div class="col l12 s12 m12">
                                <h6 class="center step-title">2. Thông tin thủ tục</h6>
                            </div>
                            <div class="col m6">
                                <div class="input-field col s12">
                                    <select id="item1">
                                        @foreach (vnpost_ocr_system.Models.Province item in ViewBag.Provinces)
                                        {
                                            <option value="@item.PostalProvinceCode">@item.PostalProvinceName</option>
                                        }
                                    </select>
                                    <label for="item1" class="">Tỉnh/TP <i class="fa fa-asterisk" style="font-size:7px;color:red"></i> :</label>
                                    <p class="validation" name="item1"></p>
                                </div>
                                <div class="input-field col s12">
                                    <select id="item2"></select>
                                    <label for="item2">Quận/Huyện <i class="fa fa-asterisk" style="font-size:7px;color:red"></i> :</label>
                                    <p class="validation" name="item2"></p>
                                </div>
                                <div class="input-field col s12">
                                    <input type="text" id="item5" class="required" />
                                    <label for="item5">Mã giấy hẹn <i class="fa fa-asterisk" style="font-size:7px;color:red"></i> :</label>
                                    <p class="validation" name="item5"></p>
                                </div>
                            </div>
                            <div class="col m6">
                                <div class="input-field col s12">
                                    <select id="item3" tabindex="-1"></select>
                                    <label for="item3">Tên CQHC <i class="fa fa-asterisk" style="font-size:7px;color:red"></i> :</label>
                                    <p class="validation" name="item3"></p>
                                </div>
                                <div class="input-field col s12">
                                    <select id="item4" tabindex="-1"></select>
                                    <label for="item4">Tên thủ tục <i class="fa fa-asterisk" style="font-size:7px;color:red"></i> :</label>
                                    <p class="validation" name="item4"></p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Step 3 -->
                    <h6 class="center step-title"></h6>
                    <section>
                        <div class="row">
                            <div class="col l12 s12 m12">
                                <h6 class="center step-title">3. Thông tin yêu cầu giải quyết TTHC</h6>
                            </div>
                            @if (ViewBag.contactInfos == null)
                            {
                                <p class="col s12 big-heading m-b-15">
                                    Bạn chưa có thông tin
                                    <span class="show-form light-blue-text hover-pointer hover-underline">
                                        Tạo thông tin mới
                                    </span>
                                </p>
                            }
                            else
                            {
                                <p class="col s12 big-heading m-b-15">Chọn thông tin có sẵn bên dưới:</p>
                                foreach (vnpost_ocr_system.Models.ContactInfoDB item in ViewBag.contactInfos)
                                {
                                    <div id="contact1" class="info-list-div step2-items step2-items-@item.ContactInfoID col s12">
                                        <div class="col s12 m12 l12">
                                            <p id="FullName" class="content-text highlight col s12">@item.FullName</p>
                                            <p class="content-text col s12"><span id="Street">@item.Street</span>, <span data-district="@item.PostalDistrictCode" id="Address">@(item.PostalDistrictName), @item.PostalProvinceName</span></p>
                                            <p class="content-text col s12">Số điện thoại: <span id="Phone">@item.Phone</span></p>
                                            <p class="content-text col s12">Loại giấy tờ tùy thân: <span data-papertype="@item.PersonalPaperTypeID" id="PersonalPaperTypeName">@item.PersonalPaperTypeName</span></p>
                                            <p class="content-text col s12">Số giấy tờ tùy thân: <span id="PersonalPaperNumber">@item.PersonalPaperNumber</span></p>
                                            <p class="content-text col s12">Ngày cấp: <span id="PersonalPaperIssuedDate">@(item.PersonalPaperIssuedDate == null ? "" : item.PersonalPaperIssuedDate.GetValueOrDefault().ToString("dd/MM/yyyy"))</span></p>
                                            <p class="content-text col s12">Nơi cấp: <span id="PersonalPaperIssuedPlace">@(item.PersonalPaperIssuedPlace == null ? "" : item.PersonalPaperIssuedPlace)</span></p>
                                        </div>
                                        <div class="col s12 m-t-10">
                                            <div class="col l4 s12 p-t-10">
                                                <a class="btn waves-effect waves-light bt-color-common" data-profile1="@item.ContactInfoID" id="profile1">Sử dụng thông tin này</a>
                                            </div>
                                            <div class="col l2 s12 p-t-10">
                                                <a class="modal-trigger btn waves-effect waves-light bt-color-common" data-profile1="@item.ContactInfoID" data-type="1" id="edit" href="#myform1">Chỉnh sửa</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            <p class="col s12 big-heading m-b-15">
                                Bạn muốn sử dụng thông tin khác?
                                <a class="modal-trigger light-blue-text hover-underline" href="#myform1" id="add" data-type="1">
                                    Nhập thông tin mới
                                </a>
                            </p>
                        </div>
                    </section>
                    <!-- Step 4 -->
                    <h6 class="center step-title"></h6>
                    <section>
                        <div class="row">
                            <div class="col l12 s12 m12">
                                <h6 class="center step-title">4. Thông tin người gửi</h6>
                            </div>
                            @if (ViewBag.contactInfos == null)
                            {
                                <p class="col s12 big-heading m-b-15">
                                    Bạn chưa có thông tin
                                    <span class="show-form light-blue-text hover-pointer hover-underline">
                                        Tạo thông tin mới
                                    </span>
                                </p>
                            }
                            else
                            {
                                <p class="col s12 big-heading m-b-15">Chọn thông tin có sẵn bên dưới:</p>
                                foreach (vnpost_ocr_system.Models.ContactInfoDB item in ViewBag.contactInfos)
                                {
                                    <div id="contact2" class="info-list-div step3-items step3-items-@item.ContactInfoID col s12">
                                        <div class="col l8 m8 s8">
                                            <p id="FullName" class="content-text highlight col s12">@item.FullName</p>
                                            <p class="content-text col s12"><span id="Street">@item.Street</span>, <span data-district="@item.PostalDistrictCode" id="Address">@(item.PostalDistrictName), @item.PostalProvinceName</span></p>
                                            <p class="content-text col s12">Số điện thoại: <span id="Phone">@item.Phone</span></p>
                                        </div>
                                        <div class="col l4 m4 s4 is-check-step-3" id="isCheckStep3-@item.ContactInfoID">
                                        </div>
                                        <div class="col s12 m-t-10">
                                            <div class="col l4 s12 p-t-10">
                                                <a class="btn waves-effect waves-light bt-color-common" data-profile1="@item.ContactInfoID" id="profile2">Sử dụng thông tin này</a>
                                            </div>
                                            <div class="col l2 s12 p-t-10">
                                                <a class="modal-trigger btn waves-effect waves-light bt-color-common" data-profile1="@item.ContactInfoID" data-type="2" id="edit" href="#myform1">Chỉnh sửa</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            <p class="col s12 big-heading m-b-15">
                                Bạn muốn sử dụng thông tin khác?
                                <a class="modal-trigger light-blue-text hover-underline" href="#myform1" id="add" data-type="2">
                                    Nhập thông tin mới
                                </a>
                            </p>
                        </div>
                    </section>
                    <!-- Step 5 -->
                    <h6 class="center step-title"></h6>
                    <section>
                        <div class="row">
                            <div class="col l12 s12 m12">
                                <h6 class="center step-title">5. Thông tin người nhận</h6>
                            </div>
                            @if (ViewBag.contactInfos == null)
                            {
                                <p class="col s12 big-heading m-b-15">
                                    Bạn chưa có thông tin
                                    <span class="show-form light-blue-text hover-pointer hover-underline">
                                        Tạo thông tin mới
                                    </span>
                                </p>
                            }
                            else
                            {
                                <p class="col s12 big-heading m-b-15">Chọn thông tin có sẵn bên dưới:</p>
                                foreach (vnpost_ocr_system.Models.ContactInfoDB item in ViewBag.contactInfos)
                                {
                                    <div id="contact3" class="info-list-div step4-items step4-items-@item.ContactInfoID col s12">
                                        <div class="col l8 s8 m8">
                                            <p id="FullName" class="content-text highlight col s12">@item.FullName</p>
                                            <p class="content-text col s12"><span id="Street">@item.Street</span>, <span data-district="@item.PostalDistrictCode" id="Address">@(item.PostalDistrictName), @item.PostalProvinceName</span></p>
                                            <p class="content-text col s12">Số điện thoại: <span id="Phone">@item.Phone</span></p>
                                        </div>
                                        <div class="col l4 s4 m4 is-check-step-4" id="isCheckStep4-@item.ContactInfoID">
                                        </div>
                                        <div class="col s12 m-t-10">
                                            <div class="col l4 s12 p-t-10">
                                                <a class="btn waves-effect waves-light bt-color-common" data-profile1="@item.ContactInfoID" id="profile3">Sử dụng thông tin này</a>
                                            </div>
                                            <div class="col l2 s12 p-t-10">
                                                <a class="modal-trigger btn waves-effect waves-light bt-color-common" data-profile1="@item.ContactInfoID" data-type="3" id="edit" href="#myform1">Chỉnh sửa</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            <p class="col s12 big-heading m-b-15">
                                Bạn muốn sử dụng thông tin khác?
                                <a class="modal-trigger light-blue-text hover-underline" href="#myform1" id="add" data-type="3">
                                    Nhập thông tin mới
                                </a>
                            </p>
                        </div>
                    </section>
                    <!-- Step 6 -->
                    <h6 class="center step-title"></h6>
                    <section>
                        <div class="row">
                            <div class="col l12 s12 m12">
                                <h6 class="center step-title">6. Phiếu gửi hồ sơ</h6>
                            </div>
                            <div class="form-body">

                                <h4 class="font-medium">Thông tin thủ tục</h4>
                                <hr />
                                <div class="row">
                                    <div class="col s12 l6">
                                        <div class="col s5">
                                            <div class="h-form-label">
                                                <div class="summary-label">Tên thủ tục:</div>
                                            </div>
                                        </div>
                                        <div class="col s7">
                                            <div class="h-form-label">
                                                <div class="ProfileName summary-content"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 l6">
                                        <div class="row clgray">
                                            <div class="col s5">
                                                <div class="h-form-label">
                                                    <div class="summary-label">Tên cơ quan HCC: </div>
                                                </div>
                                            </div>
                                            <div class="col s7">
                                                <div class="h-form-label summary-content">
                                                    <div id="AdminName"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 l6">
                                        <div class="col s5">
                                            <div class="h-form-label">
                                                <div class="summary-label">Tỉnh/TP:</div>
                                            </div>
                                        </div>
                                        <div class="col s7">
                                            <div class="h-form-label summary-content">
                                                <div id="PostalProvinceName">@ViewBag.Provinces[0].PostalProvinceName</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 l6">
                                        <div class="row clgray">
                                            <div class="col s5">
                                                <div class="h-form-label">
                                                    <div class="summary-label">Địa chỉ CQHCC:</div>
                                                </div>
                                            </div>
                                            <div class="col s7">
                                                <div class="h-form-label summary-content">
                                                    <div id="PA_Address"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 l6">
                                        <div class="col s5">
                                            <div class="h-form-label">
                                                <label class="summary-label">Quận/Huyện: </label>
                                            </div>
                                        </div>
                                        <div class="col s7">
                                            <div class="h-form-label summary-content">
                                                <label id="PostalDistrictName"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 l6">
                                        <div class="row clgray">
                                            <div class="col s5">
                                                <div class="h-form-label">
                                                    <label class="summary-label">Mã giấy hẹn:</label>
                                                </div>
                                            </div>
                                            <div class="col s7">
                                                <div class="h-form-label summary-content">
                                                    <label class="AppointmentLetterCode"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <div class="col h-form-label">
                                            <label class="summary-label">Ảnh giấy hẹn: </label>
                                        </div>
                                    </div>
                                    <div class="col s12 center">
                                        <div class="h-form-label" id="img">
                                        </div>
                                    </div>
                                </div>

                                <div class="col s12">
                                    <h4 class="font-medium">Thông tin người yêu cầu giải quyết thủ tục hành chính</h4>
                                    <hr />
                                    <div class="col s12 l6">
                                        <div class="col s5">
                                            <div class="h-form-label">
                                                <label class="summary-label">Họ và tên:</label>
                                            </div>
                                        </div>
                                        <div class="col s7">
                                            <div class="h-form-label  summary-content">
                                                <label id="ProcedurerFullName"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 l6">
                                        <div class="row clgray">
                                            <div class="col s5">
                                                <div class="h-form-label">
                                                    <label class="summary-label">Số điện thoại</label>
                                                </div>
                                            </div>
                                            <div class="col s7">
                                                <div class="h-form-label  summary-content">
                                                    <label id="ProcedurerPhone"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 l6">
                                        <div class="col s5">
                                            <div class="h-form-label">
                                                <label class="summary-label">Địa chỉ: </label>
                                            </div>
                                        </div>
                                        <div class="col s7">
                                            <div class="h-form-label  summary-content">
                                                <label><span id="ProcedurerStreet"></span>, <span id="ProcedurerAddress"></span></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 l6">
                                        <div class="row clgray">
                                            <div class="col s5">
                                                <div class="h-form-label">
                                                    <label class="summary-label">Loại GTTT: </label>
                                                </div>
                                            </div>
                                            <div class="col s7">
                                                <div class="h-form-label  summary-content">
                                                    <label id="ProcedurerPersonalPaperTypeName"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 l6">
                                        <div class="col s5">
                                            <div class="h-form-label">
                                                <label class="summary-label">Số GTTT: </label>
                                            </div>
                                        </div>
                                        <div class="col s7">
                                            <div class="h-form-label  summary-content">
                                                <label id="ProcedurerPersonalPaperNumber"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 l6">
                                        <div class="row clgray">
                                            <div class="col s5">
                                                <div class="h-form-label ">
                                                    <label class="summary-label">Ngày cấp: </label>
                                                </div>
                                            </div>
                                            <div class="col s7">
                                                <div class="h-form-label  summary-content">
                                                    <label id="ProcedurerPersonalPaperIssuedDate"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 l6">
                                        <div class="col s5">
                                            <div class="h-form-label">
                                                <label class="summary-label">Nơi cấp: </label>
                                            </div>
                                        </div>
                                        <div class="col s7">
                                            <div class="h-form-label  summary-content">
                                                <label id="ProcedurerPersonalPaperIssuedPlace"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12">
                                    <h4 class="font-medium">Thông tin người gửi</h4>
                                    <hr />
                                    <div class="col s12 l6">
                                        <div class="col s5">
                                            <div class="h-form-label">
                                                <label class="summary-label">Họ và tên:</label>
                                            </div>
                                        </div>
                                        <div class="col s7">
                                            <div class="h-form-label summary-content">
                                                <label id="SenderFullName"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 l6">
                                        <div class="row clgray">
                                            <div class="col s5">
                                                <div class="h-form-label">
                                                    <label class="summary-label">Số điện thoại</label>
                                                </div>
                                            </div>
                                            <div class="col s7">
                                                <div class="h-form-label summary-content">
                                                    <label id="SenderPhone"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 l6">
                                        <div class="col s5">
                                            <div class="h-form-label">
                                                <label class="summary-label">Địa chỉ: </label>
                                            </div>
                                        </div>
                                        <div class="col s7">
                                            <div class="h-form-label summary-content">
                                                <label><span id="SenderStreet"></span>, <span id="SenderAddress"></span></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12">
                                    <h4 class="font-medium">Thông tin người nhận</h4>
                                    <hr />
                                    <div class="col s12 l6">
                                        <div class="col s5">
                                            <div class="h-form-label">
                                                <label class="summary-label">Họ và tên:</label>
                                            </div>
                                        </div>
                                        <div class="col s7">
                                            <div class="h-form-label summary-content">
                                                <label class="ReceiverFullName"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 l6">
                                        <div class="row clgray">
                                            <div class="col s5">
                                                <div class="h-form-label">
                                                    <label class="summary-label">Số điện thoại</label>
                                                </div>
                                            </div>
                                            <div class="col s7">
                                                <div class="h-form-label summary-content">
                                                    <label id="ReceiverPhone"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 l6">
                                        <div class="col s5">
                                            <div class="h-form-label">
                                                <label class="summary-label">Địa chỉ: </label>
                                            </div>
                                        </div>
                                        <div class="col s7">
                                            <div class="h-form-label summary-content">
                                                <label><span class="ReceiverStreet"></span>, <span class="ReceiverAddress"></span></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12">
                                        <div class="col s12">
                                            <div class="h-form-label">
                                                <label class="summary-label">Ghi chú:</label>
                                            </div>
                                        </div>
                                        <div class="col s12 summary-content">
                                            <textarea id="OrderNote"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Step 6 -->
                    <h6 class="center step-title"></h6>
                    <section>
                        <div class="row">
                            <div class="col l12 s12 m12">
                                <h6 class="center step-title">7. Xác nhận thanh toán</h6>
                            </div>

                            <div class="col l9 s12 bill-container">
                                <div class="card-shadow p-20 resize-card">
                                    <div>
                                        <h5>Hình thức thanh toán</h5>
                                        <label>
                                            <input id="r1" type="radio" checked />
                                            <span>Thanh toán tiền mặt khi nhận hàng</span>
                                        </label>
                                        <label>
                                            <input id="r2" type="radio" disabled />
                                            <span>Thanh toán bằng thẻ quốc tế Visa, Master, JCB</span>
                                        </label>
                                        <label>
                                            <input id="r3" type="radio" disabled />
                                            <span>Thẻ ATM nội địa/Internet Banking</span>
                                        </label>
                                    </div>

                                    @*<div class="bank-list">
                                            <div class="row m-t-20">
                                                <div class="col s6 l3 m2">
                                                    <img src="~/Content/BankLogo/1.png" />
                                                </div>
                                                <div class="col s6 l3 m2">
                                                    <img src="~/Content/BankLogo/2.png" />
                                                </div>
                                                <div class="col s6 l3 m2">
                                                    <img src="~/Content/BankLogo/3.png" />
                                                </div>
                                                <div class="col s6 l3 m2">
                                                    <img src="~/Content/BankLogo/4.png" />
                                                </div>

                                            </div>

                                            <div class="row m-t-20">
                                                <div class="col s6 l3 m2">
                                                    <img src="~/Content/BankLogo/5.png" />
                                                </div>
                                                <div class="col s6 l3 m2">
                                                    <img src="~/Content/BankLogo/6.png" />
                                                </div>
                                                <div class="col s6 l3 m2">
                                                    <img src="~/Content/BankLogo/7.png" />
                                                </div>
                                                <div class="col s6 l3 m2">
                                                    <img src="~/Content/BankLogo/8.png" />
                                                </div>
                                            </div>

                                            <div class="row m-t-20">
                                                <div class="col s6 l3 m2">
                                                    <img src="~/Content/BankLogo/9.png" />
                                                </div>
                                                <div class="col s6 l3 m2">
                                                    <img src="~/Content/BankLogo/10.png" />
                                                </div>
                                                <div class="col s6 l3 m2">
                                                    <img src="~/Content/BankLogo/11.png" />
                                                </div>
                                                <div class="col s6 l3 m2">
                                                    <img src="~/Content/BankLogo/12.png" />
                                                </div>
                                            </div>

                                            <div class="row m-t-20">
                                                <div class="col s6 l3 m2">
                                                    <img src="~/Content/BankLogo/13.png" />
                                                </div>
                                                <div class="col s6 l3 m2">
                                                    <img src="~/Content/BankLogo/14.png" />
                                                </div>
                                                <div class="col s6 l3 m2">
                                                    <img src="~/Content/BankLogo/15.png" />
                                                </div>
                                                <div class="col s6 l3 m2">
                                                    <img src="~/Content/BankLogo/16.png" />
                                                </div>
                                            </div>

                                            <div class="row m-t-20">

                                                <div class="col s6 l3 m2">
                                                    <img src="~/Content/BankLogo/17.png" />
                                                </div>
                                                <div class="col s6 l3 m2">
                                                    <img src="~/Content/BankLogo/18.png" />
                                                </div>
                                                <div class="col s6 l3 m2">
                                                    <img src="~/Content/BankLogo/19.png" />
                                                </div>
                                                <div class="col s6 l3 m2">
                                                    <img src="~/Content/BankLogo/20.png" />
                                                </div>
                                            </div>

                                            <div class="row m-t-20">

                                                <div class="col s6 l3 m2">
                                                    <img src="~/Content/BankLogo/21.png" />
                                                </div>
                                                <div class="col s6 l3 m2">
                                                    <img src="~/Content/BankLogo/22.png" />
                                                </div>
                                                <div class="col s6 l3 m2">
                                                    <img src="~/Content/BankLogo/23.png" />
                                                </div>
                                                <div class="col s6 l3 m2">
                                                    <img src="~/Content/BankLogo/24.png" />
                                                </div>
                                            </div>


                                        </div>*@
                                </div>
                            </div>

                            <div class="col l3 bill-container">
                                <div class="row">
                                    <div class="card-shadow p-20">
                                        <div>
                                            <p class="payment-title card-border">Địa chỉ đơn hàng</p>
                                        </div>

                                        <b class="payment-title ReceiverFullName"></b>
                                        <div>
                                            <p>
                                                <span class="ReceiverStreet"></span>, <span class="ReceiverAddress"></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="card-shadow p-20">
                                        <div>
                                            <p class="payment-title card-border">Đơn hàng</p>
                                        </div>
                                        <div>
                                            <b class="payment-title m-b-25">Mã đơn hàng: <span class="AppointmentLetterCode"></span></b>
                                        </div>
                                        <span>
                                            <span class="payment-title">Thủ tục hành chính:</span>
                                            <span class="ProfileName"></span>
                                        </span>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <input name="id" id="id_raw" readonly hidden />
                </form>
            </div>
        </div>
    </div>
</div>

<div id="myform1" class="modal fade">
    <div class="form-wrapper">
        <div class="row">
            <div class="col s12 l12 m12">
                <div class="input-field row">
                    <p class="col l3 m3 p-t-10 s12">Họ và tên <i class="fa fa-asterisk" style="font-size:7px;color:red"></i> :</p>
                    <div class="col l9 m9 s12">
                        <input required id="name_edit" type="text">
                        <p class="validation" name="name_edit"></p>
                    </div>
                </div>
            </div>
            <div class="col s12 l12 m12">
                <div class="input-field row">
                    <p class="col l3 m3 p-t-10 s12">Số điện thoại <i class="fa fa-asterisk" style="font-size:7px;color:red"></i> :</p>
                    <div class="col l9 m9 s12">
                        <input id="phone_edit" type="text">
                        <p class="validation" name="phone_edit"></p>
                    </div>
                </div>
            </div>
            <div class="col s12 l12 m12">
                <div class="input-field row">
                    <p class="col l3 m3 p-t-10 s12">Tỉnh/TP <i class="fa fa-asterisk" style="font-size:7px;color:red"></i> :</p>
                    <div class="col l9 m9 s12">
                        <select required tabindex="-1" id="province_edit" class="card-border">
                            @foreach (vnpost_ocr_system.Models.Province item in ViewBag.Provinces)
                            {
                                <option value="@item.PostalProvinceCode">@item.PostalProvinceName</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="input-field col s12 m12">
                <div class="select-wrapper row">
                    <div class="col l3 m3 p-t-10 s12 ">Quận/Huyện <i class="fa fa-asterisk" style="font-size:7px;color:red"></i> :</div>
                    <div class="col l9 m9 s12">
                        <select required tabindex="-1" id="district_edit" class="card-border"></select>
                        <p class="validation" name="district_edit"></p>
                    </div>
                </div>
            </div>
            <div class="input-field col s12 m12">
                <div class="select-wrapper row">
                    <div class="col l3 m3 p-t-10 s12 ">Địa chỉ <i class="fa fa-asterisk" style="font-size:7px;color:red"></i> :</div>
                    <div class="col l9 m9 s12">
                        <textarea required id="street_edit"></textarea>
                        <p class="validation" name="street_edit"></p>
                    </div>
                </div>
            </div>
            <div id="showmore">
                <div class="input-field col s12 m12">
                    <div class="col l3 m3 p-t-10 s12 ">Loại giấy tờ tùy thân:</div>
                    <div class="col l9 m9 s12">
                        <select tabindex="-1" id="paper_type_edit" class="card-border">
                            @foreach (vnpost_ocr_system.Models.PersonalPaperType item in ViewBag.papertypes)
                            {
                                <option value="@item.PersonalPaperTypeID">@item.PersonalPaperTypeName</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col s12 l12 m12">
                    <div class="input-field row">
                        <p class="col l3 m3 p-t-10 s12">Số giấy tờ tùy thân <i class="fa fa-asterisk" style="font-size:7px;color:red"></i> :</p>
                        <div class="col l9 m9 s12">
                            <input id="paper_number_edit" type="text">
                            <p class="validation" name="paper_number_edit"></p>
                        </div>
                    </div>
                </div>
                <div class="col s12 l12 m12">
                    <div class="input-field row">
                        <p class="col l3 m3 p-t-10 s12">Ngày cấp:</p>
                        <div class="col l9 m9 s12 datepicker-calendar-container row">
                            <input name="dateTLHD" id="paper_date_edit" type='text' readonly
                                   class="col s10 l10 datepicker-here centerText" autocomplete="off"
                                   data-language='vi' />
                            <i id="picker-icon" class="unselectable material-icons dp48 small p-0-0 col hover-default">date_range</i>
                        </div>
                    </div>
                </div>
                <div class="col s12 l12 m12">
                    <div class="input-field row">
                        <p class="col l3 m3 p-t-10 s12">Nơi cấp:</p>
                        <div class="col l9 m9 s12">
                            <input id="paper_place_edit" type="text">
                            <input hidden readonly id="info_edit" type="text" />
                            <input hidden readonly id="type" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="input-field col s12 m12">
                    <div class="select-wrapper row">
                        <div class="col l3 m3 p-t-10 s12 "></div>
                        <div class="col l9 m9 s12">
                            <button class="hide-form col l5 s12 btn waves-effect waves-light bt-color-common m-b-20 modal-close" id="close-modal">Hủy Bỏ</button>
                            <a class="col offset-l2 l5 s12 btn waves-effect waves-light bt-color-common p-l-40 p-r-40" id="save_profile1">Lưu</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="capture-modal" class="modal fade">
    @*<div class="modal-content">
        <h4>Chụp ảnh giấy hẹn</h4>*@
    @*<video id="video" width="100%" height="100%" autoplay></video>*@
    @*<div id="my_camera"></div>
            <div class="row center">
                <button id="snap" style="border-radius:20px" onClick="take_snapshot()" class=" btn green waves-effect waves-light p-l-40 p-r-40"><i class="small material-icons dp48">camera_alt</i></button>
            </div>
        </div>*@
</div>


<script src="~/assets/libs/jquery-steps/build/jquery.steps.min.js"></script>
<script src="~/assets/libs/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/assets/libs/jquery-steps/build/jquery.steps.min.js"></script>
<script src="~/assets/libs/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/assets/extra-libs/prism/prism.js"></script>
<script src="~/assets/uploader/dropzoneMultiple.js"></script>

<script>
    var type = "";
    var validate1 = false;
    var validate2 = false;
    var validate3 = false;

    var data = new FormData();

    function getDistrict() {
        $('#pre-load').show()
        $('#item2').empty();
        $('#item2').formSelect();
        $('#item3').empty();
        $('#item3').formSelect();
        $('#item4').empty();
        $('#item4').formSelect();
        $('#PostalProvinceName').text($('#item1').find("option:selected").text())
        $.ajax({
            type: "POST",
            url: "/GetDistrict",
            cache: false,
            dataType: 'json',
            data: {
                code: $('#item1').val()
            },
            success: function (response) {
                var option = "";
                for (var i = 0; i < response.length; i++) {
                    if (i === 0)
                        $("#PostalDistrictName").text(response[i].ProfileName)
                    option += "<option value='" + response[i].PostalDistrictCode + "'>" + response[i].PostalDistrictName + "</option>";
                }
                $('#item2').append(option);
                $('#item2').formSelect();
                getAdmins()
            },
            error: function () {
                $('#pre-load').hide()
            }
        })
    }

    function getAdmins() {
        $('#pre-load').show()
        $('#item3').empty();
        $('#item3').formSelect();
        $('#item4').empty();
        $('#item4').formSelect();
        $('#PostalDistrictName').text($('#item2').find('option:selected').text());
        $.ajax({
            type: "POST",
            url: "/GetAdmins",
            cache: false,
            dataType: 'json',
            data: {
                code: $('#item2').val()
            },
            success: function (response) {
                var option = "";
                for (var i = 0; i < response.length; i++) {
                    if (i === 0)
                        $("#AdminName").text(response[i].ProfileName)
                    option += "<option data-address='" + response[i].Address + "' value='" + response[i].PublicAdministrationLocationID + "'>" + response[i].PublicAdministrationName + "</option>";
                }
                $('#item3').append(option);
                $('#item3').formSelect();
                getProfiles();
            },
            error: function () {
                $('#pre-load').hide()
            }
        })
    }

    function getProfiles() {
        $('#pre-load').show()
        $('#item4').empty();
        $('#item4').formSelect();
        $("#AdminName").text($('#item3').find('option:selected').text());
        $('#PA_Address').text($('#item3').find('option:selected').data("address"))
        $.ajax({
            type: "POST",
            url: "/GetProfile",
            cache: false,
            dataType: 'json',
            data: {
                code: $('#item3').val()
            },
            success: function (response) {
                var option = "";
                for (var i = 0; i < response.length; i++) {
                    if (i === 0)
                        $(".ProfileName").text(response[i].ProfileName)
                    option += "<option value='" + response[i].ProfileID + "'>" + response[i].ProfileName + "</option>";
                }
                $('#item4').append(option);
                $('#item4').formSelect();
                $('#pre-load').hide()
            },
            error: function () {
                $('#pre-load').hide()
            }
        })
    }

    $(document).ready(function () {
        getDistrict();

        $('#item1').change(function () {
            getDistrict();
        })

        $('#item2').change(function () {
            $('#pre-load').show()
            getAdmins();
        })

        $('#item3').change(function () {
            getProfiles();
        })

        $('#item4').change(function () {
            $(".ProfileName").text($(this).find('option:selected').text());
        })

        $('#item5').change(function () {
            $('.AppointmentLetterCode').text($(item5).val())
        })
    })

    $(document).on("click", ".modal-trigger", function () {
        $('#myform1').find("input[type=text], textarea").val("");
    })

    $(document).on("click", "#add", function () {
        type = $(this).data("type");
        if (type != 1) $('#showmore').hide();
        else $('#showmore').show();
    })

    $(document).on("click", "#edit", function () {
        $('#pre-load').show()
        type = $(this).data("type");
        if (type != 1) $('#showmore').hide();
        else $('#showmore').show();
        $.ajax({
            type: "POST",
            url: "/giay-hen/nhap-giay-hen/thong-tin-thu-tuc/GetContactInfo",
            cache: false,
            dataType: "json",
            data: {
                id: $(this).data("profile1"),
                type: type
            },
            success: function (response) {
                $('#name_edit').val(response.info.FullName);
                $('#phone_edit').val(response.info.Phone);
                $('#province_edit').val(response.info.PostalProvinceCode);
                $('#province_edit').formSelect();
                $('#district_edit').empty();
                var option = "";
                for (var i = 0; i < response.list.length; i++) {
                    option += "<option value='" + response.list[i].PostalDistrictCode + "'>" + response.list[i].PostalDistrictName + "</option>";
                }
                $('#district_edit').html(option);
                $('#district_edit').val(response.info.PostalDistrictCode);
                $('#district_edit').formSelect();
                $('#street_edit').val(response.info.Street);
                $('#paper_type_edit').val(response.info.PersonalPaperTypeID)
                $('#paper_type_edit').formSelect();
                $('#paper_number_edit').val(response.info.PersonalPaperNumber);
                $('#paper_date_edit').val(response.info.PersonalPaperIssuedDateString);
                $('#paper_place_edit').val(response.info.PersonalPaperIssuedPlace);
                $('#info_edit').val(response.info.ContactInfoID);
                $('#pre-load').hide()
            },
            error: function () {
                $('#pre-load').hide()
            }
        })
    })

    $('#province_edit').change(function () {
        $('#pre-load').show()
        $.ajax({
            type: "POST",
            url: "/GetDistrict",
            cache: false,
            dataType: 'json',
            data: {
                code: $(this).val()
            },
            success: function (response) {
                $('#district_edit').empty();
                var option = "";
                for (var i = 0; i < response.length; i++) {
                    option += "<option value='" + response[i].PostalDistrictCode + "'>" + response[i].PostalDistrictName + "</option>";
                }
                $('#district_edit').append(option);
                $('#district_edit').formSelect();
                $('#pre-load').hide()
            },
            error: function () {
                $('#pre-load').hide()
            }
        })
    })

    var contact = "";

    $(document).on("click", 'section #contact1', function () {
        contact = 'section #contact1:nth-child(' + ($(this).index() + 1) + ')';
    })

    $(document).on("click", 'section #contact2', function () {
        contact = 'section #contact2:nth-child(' + ($(this).index() + 1) + ')';
    })

    $(document).on("click", 'section #contact3', function () {
        contact = 'section #contact3:nth-child(' + ($(this).index() + 1) + ')';
    })

    $(document).on("click", "#save_profile1", function () {
        $('#pre-load').show()
        $.ajax({
            type: "POST",
            url: "/giay-hen/nhap-giay-hen/thong-tin-thu-tuc",
            cache: false,
            dataType: "json",
            data: {
                FullName: $('#name_edit').val(),
                Phone: $('#phone_edit').val(),
                PostalDistrictCode: $('#district_edit').val(),
                PostalDistrictName: $('#district_edit option:selected').text(),
                Street: $('#street_edit').val(),
                PersonalPaperTypeID: $('#paper_type_edit').val(),
                PersonalPaperNumber: $('#paper_number_edit').val(),
                PersonalPaperIssuedDateString: $('#paper_date_edit').val(),
                PersonalPaperIssuedPlace: $('#paper_place_edit').val(),
                ContactInfoID: $('#info_edit').val(),
                Type: type,
                PostalProvinceName: $('#province_edit option:selected').text()
            },
            success: function (response) {
                if (response.success) {
                    if (response.add) {
                        for (var i = 2; i < 5; i++) {
                            $('section:nth-child(' + i * 2 + ') .row').children('p').remove()
                            $('section:nth-child(' + i * 2 + ') .row').append(response.html[i - 2])
                        }
                        //$('section:not([style*="display: none"]) .row').children('p').remove()
                        //$('section:not([style*="display: none"]) .row').append(response.html)
                    }
                    else {
                        $(contact).find('#FullName').text($('#name_edit').val())
                        $(contact).find('#Street').text($('#street_edit').val())
                        $(contact).find('#Address').text($('#district_edit option:selected').text() + ", " + $('#province_edit option:selected').text())
                        $(contact).find('#Address').data('district', $('#district_edit').val())
                        $(contact).find('#Phone').text($('#phone_edit').val())
                        $(contact).find('#PersonalPaperTypeName').text($('#paper_type_edit option:selected').text())
                        $(contact).find('#PersonalPaperTypeName').data('papertype', $('#paper_type_edit').val())
                        $(contact).find('#PersonalPaperNumber').text($('#paper_number_edit').val())
                        $(contact).find('#PersonalPaperIssuedDate').text($('#paper_date_edit').val())
                        $(contact).find('#PersonalPaperIssuedPlace').text($('#paper_place_edit').val())
                    }
                    $('#close-modal').click();
                    successAlert(response.message);
                }
                else
                    errorAlert(response.message)
                $('#pre-load').hide()
            },
            error: function () {
                $('#pre-load').hide()
            }
        })
    })

    $(document).on("click", "#profile1", function () {
        var Adminprofile = $(this).closest('#contact1');
        if (Adminprofile.find('#PersonalPaperTypeName').text() == "" || Adminprofile.find('#PersonalPaperNumber').text() == ""
            || Adminprofile.find('#PersonalPaperIssuedDate').text() == "" || Adminprofile.find('#PersonalPaperIssuedPlace').text() == "") {
            toastr.error("Xin hãy cập nhật đầy đủ thông tin trước khi chọn");
            return;
        }
        $('#ProcedurerFullName').text(Adminprofile.find('#FullName').text());
        $('#ProcedurerPhone').text(Adminprofile.find('#Phone').text());
        $('#ProcedurerStreet').text(Adminprofile.find('#Street').text());
        $('#ProcedurerAddress').text(Adminprofile.find('#Address').text());
        data.delete("ProcedurerPostalDistrictCode");
        data.append("ProcedurerPostalDistrictCode", Adminprofile.find('#Address').data("district"));
        $('#ProcedurerPersonalPaperTypeName').text(Adminprofile.find('#PersonalPaperTypeName').text());
        data.delete("ProcedurerPersonalPaperTypeID");
        data.append("ProcedurerPersonalPaperTypeID", Adminprofile.find('#PersonalPaperTypeName').data("papertype"))
        $('#ProcedurerPersonalPaperNumber').text(Adminprofile.find('#PersonalPaperNumber').text());
        $('#ProcedurerPersonalPaperIssuedDate').text(Adminprofile.find('#PersonalPaperIssuedDate').text());
        $('#ProcedurerPersonalPaperIssuedPlace').text(Adminprofile.find('#PersonalPaperIssuedPlace').text());

        $(".step2-items").css('background-color', 'white');
        $(".step2-items-" + $(this).attr('data-profile1')).css('background-color', '#e1ffe5');
        validate1 = true;
    })

    $(document).on("click", "#profile2", function () {
        var Adminprofile = $(this).closest('#contact2');
        $('#SenderFullName').text(Adminprofile.find('#FullName').text());
        $('#SenderPhone').text(Adminprofile.find('#Phone').text())
        $('#SenderStreet').text(Adminprofile.find('#Street').text())
        $('#SenderAddress').text(Adminprofile.find('#Address').text())
        data.delete("SenderPostalDistrictCode");
        data.append("SenderPostalDistrictCode", Adminprofile.find('#Address').data("district"));

        $(".step3-items").css('background-color', 'white');
        $(".step3-items-" + $(this).attr('data-profile1')).css('background-color', '#e1ffe5');
        validate2 = true;

    })

    $(document).on("click", "#profile3", function () {
        var Adminprofile = $(this).closest('#contact3');
        $('.ReceiverFullName').text(Adminprofile.find('#FullName').text());
        $('#ReceiverPhone').text(Adminprofile.find('#Phone').text())
        $('.ReceiverStreet').text(Adminprofile.find('#Street').text())
        $('.ReceiverAddress').text(Adminprofile.find('#Address').text())
        data.delete("ReceiverPostalDistrictCode");
        data.append("ReceiverPostalDistrictCode", Adminprofile.find('#Address').data("district"));

        $(".step4-items").css('background-color', 'white');
        $(".step4-items-" + $(this).attr('data-profile1')).css('background-color', '#e1ffe5');
        validate3 = true;

    })
</script>
<script>
    var form = $(".validation-wizard").show();

    $(".validation-wizard").steps({
        headerTag: "h6",
        bodyTag: "section",
        transitionEffect: "fade",
        titleTemplate: '<span class="step">#index#</span> #title#',
        labels: {
            next: "Tiếp tục",
            previous: "Quay lại",
            finish: "Hoàn tất"
        },
        onStepChanging: function (event, currentIndex, newIndex) {
            window.scroll({
                top: 0,
                left: 0,
                behavior: 'smooth'
            });
            if (currentIndex === 0) {
                if (data.get("img") == null) {
                    toastr.error('Bạn chưa nhập ảnh giấy hẹn!', '');
                    return false;
                }
            }
            else if (currentIndex === 1 && newIndex > currentIndex) {
                if ($('#item2').val() == null || $('#item3').val() == null || $('#item4').val() == null || $('#item5').val() == "") {
                    toastr.error('Hãy điền đầy đủ thông tin!', '');
                    return false;
                }
            }
            else if (currentIndex === 2 && !validate1 && newIndex > currentIndex) {
                toastr.error('Hãy chọn thông tin người yêu cầu thủ tục!', '');
                return false;
            }
            else if (currentIndex === 3 && !validate2 && newIndex > currentIndex) {
                toastr.error('Hãy chọn thông tin người gửi!', '');
                return false;
            }
            else if (currentIndex === 4 && !validate3 && newIndex > currentIndex) {
                toastr.error('Hãy chọn thông tin người nhận!', '');
                return false;
            }

            return true;
        },
        onFinishing: function (event, currentIndex) {
            $('#pre-load').show();
            data.append("ProfileID", $('#item4').val());
            data.append("AppointmentLetterCode", $('#item5').val());
            data.append("ProcedurerFullName", $('#ProcedurerFullName').text());
            data.append("ProcedurerPhone", $('#ProcedurerPhone').text());
            data.append("ProcedurerStreet", $('#ProcedurerStreet').text());
            data.append("ProcedurerPersonalPaperNumber", $('#ProcedurerPersonalPaperNumber').text());
            data.append("ProcedurerPersonalPaperIssuedDate", $('#ProcedurerPersonalPaperIssuedDate').text());
            data.append("ProcedurerPersonalPaperIssuedPlace", $('#ProcedurerPersonalPaperIssuedPlace').text());
            data.append("SenderFullName", $('#SenderFullName').text());
            data.append("SenderPhone", $('#SenderPhone').text());
            data.append("SenderStreet", $('#SenderStreet').text());
            data.append("ReceiverFullName", $('.ReceiverFullName').text());
            data.append("ReceiverPhone", $('#ReceiverPhone').text());
            data.append("ReceiverStreet", $('.ReceiverStreet').text());
            data.append("OrderNote", $('#OrderNote').val());
            $.ajax({
                type: "POST",
                url: "/don-hang/thanh-toan",
                data: data,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.success) {
                        $('#id_raw').val(response.data)
                        $('#myform').submit();
                    }
                    else {
                        errorAlert(response.message)
                        $('#pre-load').hide();
                    }
                }
            });
            //return form.submit();
        },
        onFinished: function (event, currentIndex) {
            swal("Form Submitted!", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lorem erat eleifend ex semper, lobortis purus sed.");
        }
    }), $(".validation-wizard").validate({
        ignore: "input[type=hidden]",
        errorClass: "text-danger",
        successClass: "text-success",
        highlight: function (element, errorClass) {
            $(element).removeClass(errorClass)
        },
        unhighlight: function (element, errorClass) {
            $(element).removeClass(errorClass)
        },
        errorPlacement: function (error, element) {
            error.insertAfter(element)
        },
        rules: {
            email: {
                email: !0
            }
        }
    })
</script>
<script>
    //Create by TUANKQ, THANGDV
Dropzone.options.myAwesomeDropzone = {
    paramName: "file", // The name that will be used to transfer the file
    maxFilesize: 5, // MB
    addRemoveLinks: true,
    autoProcessQueue: true,
    dictRemoveFile: 'Hủy',
    clickable: true,
    acceptedFiles: "image/jpeg,image/png,image/gif",
    maxFiles: 10,
    thumbnailWidth: null,
    thumbnailHeight: null,
    uploadMultiple: true,
    parallelUploads: 10,
    maxfilesexceeded: function() {
        var myDropzone = this;
        myDropzone.removeAllFiles();
    },
    init: function () {
        this.on("addedfile", function (file) {
            var reader = new FileReader();
            reader.onload = function (event) {
                var base64String = event.target.result;
                var image = new Image();
                image.src = base64String;
                $('#img').empty();
                $('#img').append(image);
                $('#img').children().width("100%")
            };
            reader.readAsDataURL(file);
            if (this.files.length > 1) {
                for (var i = 0; i < this.files.length; i++){
                        this.removeFile(this.files[i]);
                }
            }
        });
        this.on("removedfile", function () {
            data.delete("img")
            $('#img').empty();
        });
        this.on("thumbnail", function (file, dataUrl) {
            $('.dz-image').last().find('img').attr({ width: '100%', height: '100%' });
        }),
            this.on("success", function (file) {
                $('.dz-image').css({ "width": "100%", "height": "auto" });
            })
        var myDropzone = this;
        $("#btnUpload3").click(function (e) {
            e.preventDefault();
            myDropzone.processQueue();
        });
        this.on('sending', function (file, xhr, formData) {
            data.append("img", file);
        });
        //this.on('sending', function (file, xhr, formData) {
        //        data.append("file", file);
            //var n = myDropzone.getAcceptedFiles().length;
            @*if (count3 === n) {
                var ngaynhap = $("#ngay-chon").val();
                data3.append("ngayNhap", ngaynhap);
                data3.append("ca", ca3);

                var link = window.location.href;
                var phanxuong3 = "@ViewBag.phanxuong";

                data3.append("phanxuong", phanxuong3);

                var notes3 = [];
                $(".file-description3").each(function () {
                    notes3.push($(this).val());
                });*@
                //data3.append("notes", notes3);


                //$.ajax({
                //    type: "POST",
                //    url: "/phan-xuong/upload-len-dk",
                //    //beforeSend: function (xhr) {
                //    //    xhr.setRequestHeader("XSRF-TOKEN",
                //    //        $('input:hidden[name="__RequestVerificationToken"]').val());
                //    //},
                //    data: data3,
                //    contentType: false,
                //    processData: false,
                //    success: function (data) {
                //          $("#pre-load").hide("slow", function () {
                //         });
                //        if (data.success) {
                //            reloadAlert("Tải lên thành công!", 1000);
                //        } else {
                //            errorAlert("Lỗi!", 1000);
                //            window.location.reload();
                //        }
                //    }
                //});
        //    }
        //});
    },
    dictResponseError: "Lỗi (Code: {{statusCode}})",
    dictFileTooBig: "Kích cỡ file quá lớn ({{filesize}}MB). Kích cỡ file tối đa: {{maxFilesize}}MB ",
    dictInvalidFileType: "File không hợp lệ. Hãy chọn một file Excel (xls, xlsx)",
};
</script>
<script>
    //Webcam.set({
    //    width: '100%',
    //    height: '100%',
    //    image_format: 'jpeg',
    //    jpeg_quality: 100
    //});
    //Webcam.attach('#my_camera');
    //function take_snapshot() {
    //    // take snapshot and get image data
    //    Webcam.snap(function (data_uri) {
    //        // display results in page
    //        document.getElementById('img-display').innerHTML =
    //            '<img src="' + data_uri + '"/>';
    //    });
    //}
    function readURL(input) {
        if (input.files && input.files[0]) {
            $("#img-display").show();
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width('100%')
                    .height('100%');
                var base64String = e.target.result;
                var image = new Image();
                image.src = base64String;
                $('#img').empty();
                $('#img').append(image);
                $('#img').children().width("100%")
            };
            reader.readAsDataURL(input.files[0]);
            data.delete("img")
            data.delete("imgName")
            data.append("img", input.files[0]);
            data.append("imgName", input.files[0].name)
        }
    }
</script>
<script>
    function rotateRight() {
        if (data.get("img") == null) return;
        $('#pre-load').show();
        data.delete("img")
        var image = new Image();
        image.src = $('#blah').attr("src");
        $('#blah').attr("src", "#");
        image.onload = function () {
            var canvas = document.createElement("canvas");
            var ctx = canvas.getContext("2d");
            canvas.width = image.height;
            canvas.height = image.width;
            ctx.rotate(90 * Math.PI / 180);
            ctx.translate(0, -canvas.width);
            ctx.drawImage(image, 0, 0);
            var URL = canvas.toDataURL('image/jpeg');
            $('#blah').attr("src", URL);
            dataURItoBlob(URL);
        };
    }

    function rotateLeft() {
        if (data.get("img") == null) return;
        $('#pre-load').show();
        data.delete("img")
        var image = new Image();
        image.src = $('#blah').attr("src");
        $('#blah').attr("src", "#");
        image.onload = function () {
            var canvas = document.createElement("canvas");
            var ctx = canvas.getContext("2d");
            canvas.width = image.height;
            canvas.height = image.width;
            ctx.rotate(270 * Math.PI / 180);
            ctx.translate(-canvas.height, 0);
            ctx.drawImage(image, 0, 0);
            var URL = canvas.toDataURL('image/jpeg');
            $('#blah').attr("src", URL);
            dataURItoBlob(URL);
        };
    }

    function dataURItoBlob(dataURI) {
        var blobBin = atob(dataURI.split(',')[1]);
        var array = [];
        for (var i = 0; i < blobBin.length; i++) {
            array.push(blobBin.charCodeAt(i));
        }
        var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];
        var file = new Blob([new Uint8Array(array)], { type: mimeString });
        data.append("img", file);
        $('#pre-load').hide();
    }
</script>
<script>
    //$(function () {
    //    $(".steps.clearfix").hide();
    //})
    $("#img-chooser").click(function () {
        $("#img-chooser-file").click();
    })
    $("#img-capture").click(function () {
        $("#img-capture-file").click();
    })

</script>
<script src="~/assets/libs/toastr/build/toastr.min.js"></script>
<script src="~/assets/extra-libs/toastr/toastr-init.js"></script>