
@{
    ViewBag.Title = "InputInformation";
    Layout = "~/Views/Shared/Mobile/_Layout.cshtml";
}

@*<script src="~/CustomJS/InputInforScreen21.js"></script>*@
<link href="~/CustomCSS/InvitationCard/InputInforScreen21.css" rel="stylesheet" />

<link href="~/CustomCSS/InvitationCard/InputInfo.css" rel="stylesheet" />
<link href="~/CustomCSS/preloader/DisplayStatus.css" rel="stylesheet" />

<link href="~/assets/libs/jquery-steps/jquery.steps.css" rel="stylesheet">
<link href="~/assets/libs/jquery-steps/steps.css" rel="stylesheet">
<script src="~/assets/libs/jquery-steps/build/jquery.steps.min.js"></script>

<link href="~/CustomJS/datepicker_src/dist/css/datepicker.min.css" rel="stylesheet" />

<link href="~/CustomCSS/InvitationCard/InputSenderInfo.css" rel="stylesheet" />
<link href="~/CustomCSS/InvitationCard/InputSenderLib.css" rel="stylesheet" />
<link href="~/CustomCSS/InvitationCard/InputInforScreen22.css" rel="stylesheet" />

<script src="~/CustomJS/InputInfo.js"></script>

<link href="~/assets/libs/toastr/build/toastr.min.css" rel="stylesheet">
<link href="~/assets/uploader/dropzone.min.css" rel="stylesheet" />
<link href="~/assets/uploader/icons.min.css" rel="stylesheet" />

<style>
    .steps.clearfix {
        display: none !important;
    }

    #img-capture-file {
        display: none !important;
    }

    .validation {
        color: red;
    }
</style>
<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-content wizard-content">
                <h2 class="card-title">Tạo giấy hẹn mới</h2>
                <form id="myform" action="/giay-hen/trang-thai-giay-hen" method="post" class="validation-wizard wizard-circle m-t-40">
                    <!-- Step 1 -->
                    <h6>Ảnh chụp giấy hẹn</h6>
                    <section>
                        <div class="row">
                            <div class="col l12 s12 m12">
                                <h6 class="center step-title">1. Ảnh chụp giấy hẹn</h6>
                            </div>
                            <div class="col s12 m12 l12">
                                <br />
                                <label>Dung lượng tối đa 5Mb <i class="fa fa-asterisk" style="font-size:10px;color:red"></i> :</label>
                                <div class="input-field center">
                                    <a class="btn waves-effect waves-light bt-color-common" onclick="rotateLeft()"><i class="material-icons">rotate_left</i></a>
                                    <a class="btn waves-effect waves-light bt-color-common" onclick="rotateRight()"><i class="material-icons">rotate_right</i></a>
                                </div>
                                <div id="img-chooser" class="image-input center col s5 m5 l5">
                                    <i class="small material-icons dp48">cloud_upload</i> Chọn ảnh
                                </div>
                                <div class="col s1 m1 l1"></div>
                                <div id="img-capture" class="image-input center col s5 m5 l5 hide_in_app">
                                    <i class="small material-icons dp48">camera_alt</i> Chụp ảnh
                                </div>
                                <div id="img-capture-for-app" class="image-input center col s5 m5 l5 show_in_app" style="display:none!important">
                                    <i class="small material-icons dp48">camera_alt</i> Chụp ảnh
                                </div>
                                <input type="file" id="img-chooser-file" onchange="readURL(this);" accept="image/*" class="img-input" hidden>
                                <input type="file" accept="image/*" onchange="readURL(this);" id="img-capture-file" capture="camera" hidden>
                                <div id="img-display" hidden>
                                    <img id="blah" src="#" alt="your image" />
                                </div>
                                <p class="validation col l12 m12 s12" name="item6"></p>
                            </div>
                        </div>
                    </section>
                    <!-- Step 2 -->
                    <h6>Thông tin thủ tục</h6>
                    <section>
                        <div class="row">
                            <div class="col l12 s12 m12">
                                <h6 class="center step-title">2. Thông tin thủ tục</h6>
                            </div>
                            <div class="col m6">
                                <div class="input-field col s12 l12 m12">
                                    <select id="item1">
                                        <option value='' selected disabled>Chọn Tỉnh/Thành phố</option>
                                        @foreach (vnpost_ocr_system.Models.Province item in ViewBag.Provinces)
                                        {
                                            <option value="@item.PostalProvinceCode">@item.PostalProvinceName</option>
                                        }
                                    </select>
                                    <label for="item1" class="">Tỉnh/Thành phố <i class="fa fa-asterisk" style="font-size:10px;color:red"></i> :</label>
                                    <p class="validation" name="item1"></p>
                                </div>
                                <div class="input-field col s12 l12 m12">
                                    <select id="item2"></select>
                                    <label for="item2">Quận/Huyện <i class="fa fa-asterisk" style="font-size:10px;color:red"></i> :</label>
                                    <p class="validation" name="item2"></p>
                                </div>
                            </div>
                            <div class="col m6">
                                <div class="input-field col s12 l12 m12">
                                    <select id="item3" tabindex="-1"></select>
                                    <label for="item3">Tên CQHC <i class="fa fa-asterisk" style="font-size:10px;color:red"></i> :</label>
                                    <p class="validation" name="item3"></p>
                                </div>
                                <div class="input-field col s12 l12 m12">
                                    <select id="item4" tabindex="-1"></select>
                                    <label for="item4">Tên thủ tục <i class="fa fa-asterisk" style="font-size:10px;color:red"></i> :</label>
                                    <p class="validation" name="item4"></p>
                                </div>
                                <div class="input-field col s12 l12 m12">
                                    <input type="text" id="item5" class="required" />
                                    <label for="item5">Mã giấy hẹn <i class="fa fa-asterisk" style="font-size:10px;color:red"></i> :</label>
                                    <p class="validation" name="item5"></p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Step 3 -->
                    <h6>Thông tin yêu cầu giải quyết TTHC</h6>
                    <section>
                        <div class="row">
                            <div class="col l12 s12 m12">
                                <h6 class="center step-title">3. Thông tin yêu cầu giải quyết TTHC</h6>
                            </div>
                            @if (ViewBag.contactInfos.Count == 0)
                            {
                                <p class="col s12 big-heading m-b-15">
                                    Bạn chưa có thông tin
                                    <a class="modal-trigger light-blue-text hover-underline add" href="#myform1" data-type="1">
                                        Nhập thông tin mới
                                    </a>
                                </p>
                            }
                            else
                            {
                                <p class="col s12 big-heading m-b-15">Chọn thông tin có sẵn bên dưới:</p>
                                foreach (vnpost_ocr_system.Models.ContactInfoDB item in ViewBag.contactInfos)
                                {
                                    <div class="contact1 info-list-div col s12">
                                        <div class="col s12 m12 l12">
                                            <p class="FullName content-text highlight col s12">@item.FullName</p>
                                            <p class="content-text col s12"><span class="Street">@item.Street</span>, <span data-district="@item.PostalDistrictCode" class="Address">@(item.PostalDistrictName), @item.PostalProvinceName</span></p>
                                            <p class="content-text col s12">Số điện thoại: <span class="Phone">@item.Phone</span></p>
                                            <p class="content-text col s12">Loại giấy tờ tùy thân: <span data-papertype="@(item.PersonalPaperTypeID == null ? -1 : (int?)item.PersonalPaperTypeID)" class="PersonalPaperTypeName">@item.PersonalPaperTypeName</span></p>
                                            <p class="content-text col s12">Số giấy tờ tùy thân: <span class="PersonalPaperNumber">@item.PersonalPaperNumber</span></p>
                                            <p class="content-text col s12">Ngày cấp: <span class="PersonalPaperIssuedDate">@(item.PersonalPaperIssuedDate == null ? "" : item.PersonalPaperIssuedDate.GetValueOrDefault().ToString("dd/MM/yyyy"))</span></p>
                                            <p class="content-text col s12">Nơi cấp: <span class="PersonalPaperIssuedPlace">@(item.PersonalPaperIssuedPlace == null ? "" : item.PersonalPaperIssuedPlace)</span></p>
                                        </div>                                      
                                        <div class="col s12 m-t-10">
                                            <div class="col l4 s12 p-t-10">
                                                <a class="btn waves-effect waves-light bt-color-common contactInfoType1" data-contactinfoid="@item.ContactInfoID" style='display: block !important'>Sử dụng thông tin này</a>
                                            </div>
                                            <div class="col l2 s12 p-t-10">
                                                <a class="modal-trigger btn waves-effect waves-light bt-color-common edit" data-contactinfoid="@item.ContactInfoID" style='display: block !important' data-type="1" href="#myform1">Chỉnh sửa</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <p class="col s12 big-heading m-b-15">
                                    Bạn muốn sử dụng thông tin khác?
                                    <a class="modal-trigger light-blue-text hover-underline add" href="#myform1" data-type="1">
                                        Nhập thông tin mới
                                    </a>
                                </p>
                            }
                        </div>
                    </section>
                    <!-- Step 4 -->
                    <h6>Thông tin người gửi</h6>
                    <section>
                        <div class="row">
                            <div class="col l12 s12 m12">
                                <h6 class="center step-title">4. Thông tin người gửi</h6>
                            </div>
                            @if (ViewBag.contactInfos.Count == 0)
                            {
                                <p class="col s12 big-heading m-b-15">
                                    Bạn chưa có thông tin
                                    <a class="modal-trigger light-blue-text hover-underline add" href="#myform1" data-type="2">
                                        Tạo thông tin mới
                                    </a>
                                </p>
                            }
                            else
                            {
                                <p class="col s12 big-heading m-b-15">Chọn thông tin có sẵn bên dưới:</p>
                                foreach (vnpost_ocr_system.Models.ContactInfoDB item in ViewBag.contactInfos)
                                {
                                    <div class="contact2 info-list-div col s12">
                                        <div class="col s12 m12 l12">
                                            <p class="FullName content-text highlight col s12">@item.FullName</p>
                                            <p class="content-text col s12"><span class="Street">@item.Street</span>, <span data-district="@item.PostalDistrictCode" class="Address">@(item.PostalDistrictName), @item.PostalProvinceName</span></p>
                                            <p class="content-text col s12">Số điện thoại: <span class="Phone">@item.Phone</span></p>
                                        </div>
                                        <div class="col s12 m-t-10">
                                            <div class="col l4 s12 p-t-10">
                                                <a class="btn waves-effect waves-light bt-color-common contactInfoType2" data-contactinfoid="@item.ContactInfoID" style='display: block !important'>Sử dụng thông tin này</a>
                                            </div>
                                            <div class="col l2 s12 p-t-10">
                                                <a class="modal-trigger btn waves-effect waves-light bt-color-common edit" data-contactinfoid="@item.ContactInfoID" style='display: block !important' data-type="2" href="#myform1">Chỉnh sửa</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <p class="col s12 big-heading m-b-15">
                                    Bạn muốn sử dụng thông tin khác?
                                    <a class="modal-trigger light-blue-text hover-underline add" href="#myform1" data-type="2">
                                        Nhập thông tin mới
                                    </a>
                                </p>
                            }
                        </div>
                    </section>
                    <!-- Step 5 -->
                    <h6>Thông tin người nhận</h6>
                    <section>
                        <div class="row">
                            <div class="col l12 s12 m12">
                                <h6 class="center step-title">5. Thông tin người nhận</h6>
                            </div>
                            @if (ViewBag.contactInfos.Count == 0)
                            {
                                <p class="col s12 big-heading m-b-15">
                                    Bạn chưa có thông tin
                                    <a class="modal-trigger light-blue-text hover-underline add" href="#myform1" data-type="3">
                                        Tạo thông tin mới
                                    </a>
                                </p>
                            }
                            else
                            {
                                <p class="col s12 big-heading m-b-15">Chọn thông tin có sẵn bên dưới:</p>
                                foreach (vnpost_ocr_system.Models.ContactInfoDB item in ViewBag.contactInfos)
                                {
                                    <div class="contact3 info-list-div col s12">
                                        <div class="col s12 m12 l12">
                                            <p class="FullName content-text highlight col s12">@item.FullName</p>
                                            <p class="content-text col s12"><span class="Street">@item.Street</span>, <span data-district="@item.PostalDistrictCode" class="Address">@(item.PostalDistrictName), @item.PostalProvinceName</span></p>
                                            <p class="content-text col s12">Số điện thoại: <span class="Phone">@item.Phone</span></p>
                                        </div>
                                        <div class="col s12 m-t-10">
                                            <div class="col l4 s12 p-t-10">
                                                <a class="btn waves-effect waves-light bt-color-common contactInfoType3" data-contactinfoid="@item.ContactInfoID" style='display: block !important'>Sử dụng thông tin này</a>
                                            </div>
                                            <div class="col l2 s12 p-t-10">
                                                <a class="modal-trigger btn waves-effect waves-light bt-color-common edit" data-contactinfoid="@item.ContactInfoID" style='display: block !important' data-type="3" href="#myform1">Chỉnh sửa</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                                <p class="col s12 big-heading m-b-15">
                                    Bạn muốn sử dụng thông tin khác?
                                    <a class="modal-trigger light-blue-text hover-underline add" href="#myform1" data-type="3">
                                        Nhập thông tin mới
                                    </a>
                                </p>
                            }
                        </div>
                    </section>
                    <!-- Step 6 -->
                    <h6>Xác nhận hồ sơ</h6>
                    <section>
                        <div class="row">
                            <div class="col l12 s12 m12">
                                <h6 class="center step-title">6. Phiếu gửi hồ sơ</h6>
                            </div>
                            <div class="form-body">

                                <h4 class="font-medium">Thông tin thủ tục</h4>
                                <hr />
                                <div class="row">
                                    <div class="col s12 l6">
                                        <div class="col s5">
                                            <div class="h-form-label">
                                                <div class="summary-label">Tên thủ tục:</div>
                                            </div>
                                        </div>
                                        <div class="col s7">
                                            <div class="h-form-label">
                                                <div class="ProfileName summary-content"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 l6">
                                        <div class="row clgray">
                                            <div class="col s5">
                                                <div class="h-form-label">
                                                    <div class="summary-label">Tên cơ quan HCC: </div>
                                                </div>
                                            </div>
                                            <div class="col s7">
                                                <div class="h-form-label summary-content">
                                                    <div id="AdminName"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 l6">
                                        <div class="col s5">
                                            <div class="h-form-label">
                                                <div class="summary-label">Tỉnh/TP:</div>
                                            </div>
                                        </div>
                                        <div class="col s7">
                                            <div class="h-form-label summary-content">
                                                <div id="PostalProvinceName">@ViewBag.Provinces[0].PostalProvinceName</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 l6">
                                        <div class="row clgray">
                                            <div class="col s5">
                                                <div class="h-form-label">
                                                    <div class="summary-label">Địa chỉ CQHCC:</div>
                                                </div>
                                            </div>
                                            <div class="col s7">
                                                <div class="h-form-label summary-content">
                                                    <div id="PA_Address"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12 l6">
                                        <div class="col s5">
                                            <div class="h-form-label">
                                                <label class="summary-label">Quận/Huyện: </label>
                                            </div>
                                        </div>
                                        <div class="col s7">
                                            <div class="h-form-label summary-content">
                                                <label id="PostalDistrictName"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 l6">
                                        <div class="row clgray">
                                            <div class="col s5">
                                                <div class="h-form-label">
                                                    <label class="summary-label">Mã giấy hẹn:</label>
                                                </div>
                                            </div>
                                            <div class="col s7">
                                                <div class="h-form-label summary-content">
                                                    <label class="AppointmentLetterCode"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col s12">
                                        <div class="col h-form-label">
                                            <label class="summary-label">Ảnh giấy hẹn: </label>
                                        </div>
                                    </div>
                                    <div class="col s12 center">
                                        <div class="h-form-label" id="img">
                                            <img id="c" />
                                        </div>
                                    </div>
                                </div>

                                <div class="col s12">
                                    <h4 class="font-medium">Thông tin người yêu cầu giải quyết thủ tục hành chính</h4>
                                    <hr />
                                    <div class="col s12 l6">
                                        <div class="col s5">
                                            <div class="h-form-label">
                                                <label class="summary-label">Họ và tên:</label>
                                            </div>
                                        </div>
                                        <div class="col s7">
                                            <div class="h-form-label  summary-content">
                                                <label id="ProcedurerFullName"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 l6">
                                        <div class="row clgray">
                                            <div class="col s5">
                                                <div class="h-form-label">
                                                    <label class="summary-label">Số điện thoại</label>
                                                </div>
                                            </div>
                                            <div class="col s7">
                                                <div class="h-form-label  summary-content">
                                                    <label id="ProcedurerPhone"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 l6">
                                        <div class="col s5">
                                            <div class="h-form-label">
                                                <label class="summary-label">Địa chỉ: </label>
                                            </div>
                                        </div>
                                        <div class="col s7">
                                            <div class="h-form-label  summary-content">
                                                <label><span id="ProcedurerStreet"></span>, <span id="ProcedurerAddress"></span></label>
                                                <label style='display:none' id="ProcedurerPostalDistrictCode"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 l6">
                                        <div class="row clgray">
                                            <div class="col s5">
                                                <div class="h-form-label">
                                                    <label class="summary-label">Loại GTTT: </label>
                                                </div>
                                            </div>
                                            <div class="col s7">
                                                <div class="h-form-label  summary-content">
                                                    <label id="ProcedurerPersonalPaperTypeName"></label>
                                                    <label style='display:none' id="ProcedurerPersonalPaperTypeID"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 l6">
                                        <div class="col s5">
                                            <div class="h-form-label">
                                                <label class="summary-label">Số GTTT: </label>
                                            </div>
                                        </div>
                                        <div class="col s7">
                                            <div class="h-form-label  summary-content">
                                                <label id="ProcedurerPersonalPaperNumber"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 l6">
                                        <div class="row clgray">
                                            <div class="col s5">
                                                <div class="h-form-label ">
                                                    <label class="summary-label">Ngày cấp: </label>
                                                </div>
                                            </div>
                                            <div class="col s7">
                                                <div class="h-form-label  summary-content">
                                                    <label id="ProcedurerPersonalPaperIssuedDate"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 l6">
                                        <div class="col s5">
                                            <div class="h-form-label">
                                                <label class="summary-label">Nơi cấp: </label>
                                            </div>
                                        </div>
                                        <div class="col s7">
                                            <div class="h-form-label  summary-content">
                                                <label id="ProcedurerPersonalPaperIssuedPlace"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12">
                                    <h4 class="font-medium">Thông tin người gửi</h4>
                                    <hr />
                                    <div class="col s12 l6">
                                        <div class="col s5">
                                            <div class="h-form-label">
                                                <label class="summary-label">Họ và tên:</label>
                                            </div>
                                        </div>
                                        <div class="col s7">
                                            <div class="h-form-label summary-content">
                                                <label id="SenderFullName"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 l6">
                                        <div class="row clgray">
                                            <div class="col s5">
                                                <div class="h-form-label">
                                                    <label class="summary-label">Số điện thoại</label>
                                                </div>
                                            </div>
                                            <div class="col s7">
                                                <div class="h-form-label summary-content">
                                                    <label id="SenderPhone"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 l6">
                                        <div class="col s5">
                                            <div class="h-form-label">
                                                <label class="summary-label">Địa chỉ: </label>
                                            </div>
                                        </div>
                                        <div class="col s7">
                                            <div class="h-form-label summary-content">
                                                <label><span id="SenderStreet"></span>, <span id="SenderAddress"></span></label>
                                                <label style='display:none' id="SenderPostalDistrictCode"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col s12">
                                    <h4 class="font-medium">Thông tin người nhận</h4>
                                    <hr />
                                    <div class="col s12 l6">
                                        <div class="col s5">
                                            <div class="h-form-label">
                                                <label class="summary-label">Họ và tên:</label>
                                            </div>
                                        </div>
                                        <div class="col s7">
                                            <div class="h-form-label summary-content">
                                                <label class="ReceiverFullName"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 l6">
                                        <div class="row clgray">
                                            <div class="col s5">
                                                <div class="h-form-label">
                                                    <label class="summary-label">Số điện thoại</label>
                                                </div>
                                            </div>
                                            <div class="col s7">
                                                <div class="h-form-label summary-content">
                                                    <label id="ReceiverPhone"></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12 l6">
                                        <div class="col s5">
                                            <div class="h-form-label">
                                                <label class="summary-label">Địa chỉ: </label>
                                            </div>
                                        </div>
                                        <div class="col s7">
                                            <div class="h-form-label summary-content">
                                                <label><span class="ReceiverStreet"></span>, <span class="ReceiverAddress"></span></label>
                                                <label style='display:none' id="ReceiverPostalDistrictCode"></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col s12">
                                        <div class="col s12">
                                            <div class="h-form-label">
                                                <label class="summary-label">Ghi chú:</label>
                                            </div>
                                        </div>
                                        <div class="col s12 summary-content">
                                            <textarea id="OrderNote"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Step 7 -->
                    <h6>Xác nhận thanh toán</h6>
                    <section>
                        <div class="row">
                            <div class="col l12 s12 m12">
                                <h6 class="center step-title">7. Xác nhận thanh toán</h6>
                            </div>

                            <div class="col l9 s12 bill-container">
                                <div class="card-shadow p-20 resize-card">
                                    <div>
                                        <h5>Hình thức thanh toán</h5>
                                        <label>
                                            <input id="r1" type="radio" checked />
                                            <span>Thanh toán tiền mặt khi nhận hàng</span>
                                        </label><br />
                                        <label>
                                            <input id="r2" type="radio" disabled />
                                            <span>Thanh toán bằng thẻ quốc tế Visa, Master, JCB</span>
                                        </label><br />
                                        <label>
                                            <input id="r3" type="radio" disabled />
                                            <span>Thẻ ATM nội địa/Internet Banking</span>
                                        </label><br />
                                    </div>
                                </div>
                            </div>

                            <div class="col l3 bill-container">
                                <div class="row">
                                    <div class="card-shadow p-20">
                                        <div>
                                            <p class="payment-title card-border">Địa chỉ đơn hàng</p>
                                        </div>

                                        <b class="payment-title ReceiverFullName"></b>
                                        <div>
                                            <p>
                                                <span class="ReceiverStreet"></span>, <span class="ReceiverAddress"></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="card-shadow p-20">
                                        <div>
                                            <p class="payment-title card-border">Đơn hàng</p>
                                        </div>
                                        <div>
                                            <b class="payment-title m-b-25">Mã giấy hẹn: <span class="AppointmentLetterCode"></span></b>
                                        </div>
                                        <span>
                                            <span class="payment-title">Thủ tục hành chính:</span>
                                            <span class="ProfileName"></span>
                                        </span>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <input name="id" id="id_raw" readonly hidden />
                </form>
            </div>
        </div>
    </div>
</div>

<div id="myform1" class="modal fade">
    <div class="form-wrapper">
        <div class="row">
            <div class="input-field col s12 l12 m12">
                <div class="select-wrapper row">
                    <p class="col l3 m3 p-t-10 s12">Họ và tên <i class="fa fa-asterisk" style="font-size:10px;color:red"></i> :</p>
                    <div class="col l9 m9 s12">
                        <input required id="name_edit" type="text">
                        <p class="validation" name="name_edit"></p>
                    </div>
                </div>
            </div>
            <div class="input-field col s12 l12 m12">
                <div class="select-wrapper row">
                    <p class="col l3 m3 p-t-10 s12">Số điện thoại <i class="fa fa-asterisk" style="font-size:10px;color:red"></i> :</p>
                    <div class="col l9 m9 s12">
                        <input id="phone_edit" type="text">
                        <p class="validation" name="phone_edit"></p>
                    </div>
                </div>
            </div>
            <div class="input-field col s12 l12 m12">
                <div class="select-wrapper row">
                    <p class="col l3 m3 p-t-10 s12 ">Tỉnh/Thành phố <i class="fa fa-asterisk" style="font-size:10px;color:red"></i> :</p>
                    <div class="col l9 m9 s12">
                        <select required tabindex="-1" id="province_edit" class="card-border">
                            @foreach (vnpost_ocr_system.Models.Province item in ViewBag.Provinces)
                            {
                                <option value="@item.PostalProvinceCode">@item.PostalProvinceName</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="input-field col s12 l12 m12">
                <div class="select-wrapper row">
                    <div class="col l3 m3 p-t-10 s12 ">Quận/Huyện <i class="fa fa-asterisk" style="font-size:10px;color:red"></i> :</div>
                    <div class="col l9 m9 s12">
                        <select required tabindex="-1" id="district_edit" class="card-border">
                            @ViewBag.select
                        </select>
                        <p class="validation" name="district_edit"></p>
                    </div>
                </div>
            </div>
            <div class="input-field col s12 l12 m12">
                <div class="select-wrapper row">
                    <div class="col l3 m3 p-t-10 s12 ">Địa chỉ <i class="fa fa-asterisk" style="font-size:10px;color:red"></i> :</div>
                    <div class="col l9 m9 s12">
                        <textarea required id="street_edit"></textarea>
                        <p class="validation" name="street_edit"></p>
                    </div>
                </div>
            </div>
            <div id="showmore">
                <div class="input-field col s12 l12 m12">
                    <div class="select-wrapper row">
                        <div class="col l3 m3 p-t-10 s12 ">Loại giấy tờ tùy thân <i class="fa fa-asterisk" style="font-size:10px;color:red"></i> :</div>
                        <div class="col l9 m9 s12">
                            <select tabindex="-1" id="paper_type_edit" class="card-border">
                                @foreach (vnpost_ocr_system.Models.PersonalPaperType item in ViewBag.papertypes)
                                {
                                    <option value="@item.PersonalPaperTypeID">@item.PersonalPaperTypeName</option>
                                }
                            </select>
                            <p class="validation" name="paper_type_edit"></p>
                        </div>
                    </div>
                </div>
                <div class="col s12 l12 m12">
                    <div class="input-field row">
                        <p class="col l3 m3 p-t-10 s12">Số giấy tờ tùy thân <i class="fa fa-asterisk" style="font-size:10px;color:red"></i> :</p>
                        <div class="col l9 m9 s12">
                            <input id="paper_number_edit" type="text">
                            <p class="validation" name="paper_number_edit"></p>
                        </div>
                    </div>
                </div>
                <div class="col s12 l12 m12">
                    <div class="input-field row">
                        <p class="col l3 m3 p-t-10 s12">Ngày cấp:</p>
                        <div class="col l9 m9 s12 datepicker-calendar-container row">
                            <input name="dateTLHD" id="paper_date_edit" type='text' readonly
                                   class="col s10 l10 datepicker-here" autocomplete="off"
                                   data-language='vi' />
                            <i id="picker-icon" class="unselectable material-icons dp48 small p-0-0 col hover-default">date_range</i>
                        </div>
                    </div>
                </div>
                <div class="col s12 l12 m12">
                    <div class="input-field row">
                        <p class="col l3 m3 p-t-10 s12">Nơi cấp:</p>
                        <div class="col l9 m9 s12">
                            <input id="paper_place_edit" type="text">
                            <input hidden readonly id="info_edit" type="text" />
                            <input hidden readonly id="type" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="input-field col s12 m12">
                    <div class="select-wrapper row">
                        <div class="col l3 m3 p-t-10 s12 "></div>
                        <div class="col l9 m9 s12">
                            <a class="col l5 s12 btn waves-effect waves-light bt-color-common" id="save_contact_info">Lưu</a>
                            <button class="col offset-l2 l5 s12 btn waves-effect waves-light bt-color-common modal-close" id="close-modal">Hủy Bỏ</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery.cookie.js"></script>
<script src="~/assets/libs/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/assets/extra-libs/prism/prism.js"></script>
<script src="~/assets/uploader/dropzoneMultiple.js"></script>

<script>
    var UserInvitation = {}
    var CreateInvitation = {}
    var OCRResult = {}
    var ImageData = null;
    var _currentIndex = -1;
    var _newIndex = -1;

    if (!!$.cookie('CreateInvitation')) {
        CreateInvitation = JSON.parse($.cookie('CreateInvitation'))
        var UserProvinceCode = CreateInvitation.UserProvinceCode
        var UserDistrictsID = CreateInvitation.PostalDistrictCode
        var UserAdminLocationID = CreateInvitation.UserAdminLocationID
        var UserProfileID = CreateInvitation.UserProfileID
    } else {
        var UserProvinceCode = @ViewBag.UserProvinceCode;
        var UserDistrictsID = @ViewBag.UserDistrictsID;
        var UserAdminLocationID = ""
        var UserProfileID = ""
    }


    var dist = '@Html.Raw(ViewBag.select)'
    var type = "";
    var validate1 = false;
    var validate2 = false;
    var validate3 = false;
    var imageName = "";

    function getDistrict(OCRResult) {
        $('#pre-load').show()
        $('#item2').empty();
        $('#item2').formSelect();
        $('#item3').empty();
        $('#item3').formSelect();
        $('#item4').empty();
        $('#item4').formSelect();
        $('#PostalProvinceName').text($('#item1').find("option:selected").text())
        $.ajax({
            type: "POST",
            url: "/GetDistrict",
            cache: false,
            dataType: 'json',
            data: {
                PostalProvinceCode: $('#item1').val()
            },
            success: function (response) {
                var option = "<option value='' selected disabled>Chọn Quận huyện</option>";
                for (var i = 0; i < response.length; i++) {
                    if (i === 0)
                        $("#PostalDistrictName").text(response[i].ProfileName)
                    option += "<option value='" + response[i].PostalDistrictCode + "'>" + response[i].PostalDistrictName + "</option>";
                }
                $('#item2').append(option);
                if (OCRResult != null && OCRResult.PostalDistrictCode != null) {
                    $('#item2').val(OCRResult.PostalDistrictCode);
                }
                $('#item2').formSelect();
                if ($('#item2').val() != null)
                    $('p[name="item2"]').text("")
                if (OCRResult != null) {
                    getAdmins(OCRResult)
                } else {
                    $('#pre-load').hide()
                }
            },
            error: function () {
                $('#pre-load').hide()
            }
        })
    }

    function getAdmins(OCRResult) {
        $('#pre-load').show()
        $('#item3').empty();
        $('#item3').formSelect();
        $('#item4').empty();
        $('#item4').formSelect();
        $('#PostalDistrictName').text($('#item2').find('option:selected').text());
        $.ajax({
            type: "POST",
            url: "/GetPublicAdministration",
            cache: false,
            dataType: 'json',
            data: {
                PostalDistrictCode: $('#item2').val()
            },
            success: function (response) {
                var option = "<option value='' selected disabled>Chọn Tên cơ quan hành chính</option>";
                for (var i = 0; i < response.length; i++) {
                    if (i === 0)
                        $("#AdminName").text(response[i].ProfileName)
                    option += "<option data-address='" + response[i].Address + "' value='" + response[i].PublicAdministrationLocationID + "'>" + response[i].PublicAdministrationName + "</option>";
                }
                $('#item3').append(option);
                if (OCRResult != null && OCRResult.PublicAdministrationLocationID != null) {
                    $('#item3').val(OCRResult.PublicAdministrationLocationID)
                }
                $('#item3').formSelect();
                if ($('#item3').val() != null)
                    $('p[name="item3"]').text("")
                if (OCRResult != null) {
                    getProfiles(OCRResult);
                } else {
                    $('#pre-load').hide()
                }
            },
            error: function () {
                $('#pre-load').hide()
            }
        })
    }

    function getProfiles(OCRResult) {
        $('#pre-load').show()
        $('#item4').empty();
        $('#item4').formSelect();
        $("#AdminName").text($('#item3').find('option:selected').text());
        $('#PA_Address').text($('#item3').find('option:selected').data("address"))
        $.ajax({
            type: "POST",
            url: "/GetProfile",
            cache: false,
            dataType: 'json',
            data: {
                PublicAdministrationLocationID: $('#item3').val()
            },
            success: function (response) {
                var option = "<option value='' selected disabled>Chọn Tên thủ tục</option>";
                for (var i = 0; i < response.length; i++) {
                    if (i === 0)
                        $(".ProfileName").text(response[i].ProfileName)
                    option += "<option value='" + response[i].ProfileID + "'>" + response[i].ProfileName + "</option>";
                }
                $('#item4').append(option);
                if (OCRResult != null && OCRResult.ProfileID != null) {
                    $('#item4').val(OCRResult.ProfileID)
                }
                $('#item4').formSelect();
                if ($('#item4').val() != null)
                    $('p[name="item4"]').text("")
                $('#pre-load').hide()
            },
            error: function () {
                $('#pre-load').hide()
            }
        })
    }

    $(document).ready(function () {
        //if (UserProvinceCode != "") {
        //    $('#item1').val(UserProvinceCode)
        //    $('#item1').formSelect()
        //}
        //if (CreateInvitation.UserLetterCode !== undefined) {
        //    $('#item5').val(CreateInvitation.UserLetterCode)
        //    $('.AppointmentLetterCode').text(CreateInvitation.UserLetterCode)
        //    $('#item5').focus()
        //}
        //if (CreateInvitation.UserOrderNote !== undefined) {
        //    $('#OrderNote').val(CreateInvitation.UserOrderNote)
        //}

        $('#item1').change(function () {
            getDistrict(null);
        })

        $('#item2').change(function () {
            $('#pre-load').show()
            getAdmins(null);
        })

        $('#item3').change(function () {
            getProfiles(null);
        })

        $('#item4').change(function () {
            $(".ProfileName").text($(this).find('option:selected').text());
        })

        $('#item5').change(function () {
            $('.AppointmentLetterCode').text($(item5).val())
        })
    })


    //Clear form 1 before add or edit data
    $(document).on("click", ".modal-trigger", function () {
        $('#myform1').find("input[type=text], textarea").val("");
        $('#paper_type_edit').val(null);
        $('#paper_type_edit').formSelect()
        $('#province_edit').val(null);
        $('#province_edit').formSelect()
        $('#district_edit').empty()
        $('#district_edit').append(dist)
        $('#district_edit').formSelect()
    })

    function getSuitableCode(priorityCode, firstScreenCode, firstLeft, secondLeft) {
        if (priorityCode != null) {
            return priorityCode;
        }
        if (firstLeft != null) {
            return firstLeft;
        }
        if (secondLeft != null) {
            return secondLeft;
        }
        if (firstScreenCode != null) {
            return firstScreenCode;
        }
        return null;
    }

    function getSuitableString(priorityString, firstLeft, secondLeft) {
        if (priorityString != null) {
            return priorityString;
        }
        if (firstLeft != null) {
            return firstLeft;
        }
        if (secondLeft != null) {
            return secondLeft;
        }
    }

    $(document).on("click", ".add", function () {
        type = $(this).data("type");
        $('p[name="name_edit"]').text("")
        $('p[name="phone_edit"]').text("")
        $('p[name="district_edit"]').text("")
        $('p[name="street_edit"]').text("")
        $('p[name="paper_number_edit"]').text("")
        if (type != 1) $('#showmore').hide();
        else $('#showmore').show();
        console.log(OCRResult)
        if (!$.isEmptyObject(OCRResult)) {
            console.log(_newIndex);
            if (_newIndex == 2) {
                $('input#name_edit').val(
                    getSuitableString(OCRResult.ProcedurerFullName, OCRResult.SenderFullName, OCRResult.ReceiverFullName))
                $('input#phone_edit').val(
                    getSuitableString(OCRResult.ProcedurerPhone, OCRResult.SenderPhone, OCRResult.ReceiverPhone))

                //Province
                ProcedurerProvincePostalCode = getSuitableCode(OCRResult.ProcedurerProvincePostalCode,
                    $('#item1').find("option:selected").val(), OCRResult.SenderProvincePostalCode, OCRResult.ReceiverProvincePostalCode)
                if (ProcedurerProvincePostalCode != null) {
                    $('#province_edit').val(ProcedurerProvincePostalCode);
                    $('#province_edit').formSelect()
                    //District
                    ProcedurerDistrictPostalCode = getSuitableCode(OCRResult.ProcedurerDistrictPostalCode,
                        $('#item2').find("option:selected").val(), OCRResult.SenderDistrictPostalCode, OCRResult.ReceiverDistrictPostalCode)
                    selectDistrict(ProcedurerDistrictPostalCode);
                }

                //Street
                $('#street_edit').val(
                    getSuitableString(OCRResult.ProcedurerStreet, OCRResult.SenderStreet, OCRResult.ReceiverStreet));
                $('#paper_type_edit').val(OCRResult.ProcedurerPersonalPaperType);
                $('#paper_type_edit').formSelect();
                $('#paper_number_edit').val(OCRResult.ProcedurerPersonalPaperNumber);
                $('#paper_date_edit').val(OCRResult.ProcedurerPersonalPaperIssuedDate);
                $('#paper_place_edit').val(OCRResult.ProcedurerPersonalPaperIssuedPlace);
            } else if (_newIndex == 3) {
                $('input#name_edit').val(
                    getSuitableString(OCRResult.SenderFullName, OCRResult.ProcedurerFullName, OCRResult.ReceiverFullName))
                $('input#phone_edit').val(
                    getSuitableString(OCRResult.SenderPhone, OCRResult.ProcedurerPhone, OCRResult.ReceiverPhone))

                //Province
                SenderProvincePostalCode = getSuitableCode(OCRResult.SenderProvincePostalCode,
                    $('#item1').find("option:selected").val(), OCRResult.ProcedurerProvincePostalCode, OCRResult.ReceiverProvincePostalCode)
                if (SenderProvincePostalCode != null) {
                    $('#province_edit').val(SenderProvincePostalCode);
                    $('#province_edit').formSelect()
                    //District
                    SenderDistrictPostalCode = getSuitableCode(OCRResult.SenderDistrictPostalCode,
                        $('#item2').find("option:selected").val(), OCRResult.ProcedurerDistrictPostalCode, OCRResult.ReceiverDistrictPostalCode)
                    selectDistrict(SenderDistrictPostalCode);
                }

                //Street
                $('#street_edit').val(
                    getSuitableString(OCRResult.SenderStreet, OCRResult.ProcedurerStreet, OCRResult.ReceiverStreet));

            } else if (_newIndex == 4) {
                $('input#name_edit').val(
                    getSuitableString(OCRResult.ReceiverFullName, OCRResult.ProcedurerFullName, OCRResult.SenderFullName))
                $('input#phone_edit').val(
                    getSuitableString(OCRResult.ReceiverPhone, OCRResult.ProcedurerPhone, OCRResult.SenderPhone))

                //Province
                ReceiverProvincePostalCode = getSuitableCode(OCRResult.ReceiverProvincePostalCode,
                    $('#item1').find("option:selected").val(), OCRResult.ProcedurerProvincePostalCode, OCRResult.SenderProvincePostalCode)
                if (ReceiverProvincePostalCode != null) {
                    $('#province_edit').val(ReceiverProvincePostalCode);
                    $('#province_edit').formSelect()
                //District
                    ReceiverDistrictPostalCode = getSuitableCode(OCRResult.ReceiverDistrictPostalCode,
                        $('#item2').find("option:selected").val(), OCRResult.ProcedurerDistrictPostalCode, OCRResult.SenderDistrictPostalCode)
                    selectDistrict(ReceiverDistrictPostalCode);
                }
                //Street
                $('#street_edit').val(
                    getSuitableString(OCRResult.ReceiverStreet, OCRResult.ProcedurerStreet, OCRResult.SenderStreet));
            }
        }
    })

    $(document).on("click", ".edit", function () {
        $('p[name="name_edit"]').text("")
        $('p[name="phone_edit"]').text("")
        $('p[name="district_edit"]').text("")
        $('p[name="street_edit"]').text("")
        $('p[name="paper_number_edit"]').text("")
        $('#pre-load').show()
        type = $(this).data("type");
        if (type != 1) $('#showmore').hide();
        else $('#showmore').show();
        $.ajax({
            type: "POST",
            url: "/giay-hen/nhap-giay-hen/thong-tin-thu-tuc/GetContactInfo",
            cache: false,
            dataType: "json",
            data: {
                id: $(this).data("contactinfoid"),
                type: type
            },
            success: function (response) {
                $('#name_edit').val(response.info.FullName);
                $('#phone_edit').val(response.info.Phone);
                $('#province_edit').val(response.info.PostalProvinceCode);
                $('#province_edit').formSelect();
                $('#district_edit').empty();
                var option = "";
                for (var i = 0; i < response.list.length; i++) {
                    option += "<option value='" + response.list[i].PostalDistrictCode + "'>" + response.list[i].PostalDistrictName + "</option>";
                }
                $('#district_edit').html(option);
                $('#district_edit').val(response.info.PostalDistrictCode);
                $('#district_edit').formSelect();
                $('#street_edit').val(response.info.Street);
                $('#paper_type_edit').val(response.info.PersonalPaperTypeID == null ? "-1" : response.info.PersonalPaperTypeID)
                $('#paper_type_edit').formSelect();
                $('#paper_number_edit').val(response.info.PersonalPaperNumber);
                $('#paper_date_edit').val(response.info.PersonalPaperIssuedDateString);
                $('#paper_place_edit').val(response.info.PersonalPaperIssuedPlace);
                $('#info_edit').val(response.info.ContactInfoID);
                $('#pre-load').hide()
            },
            error: function () {
                $('#pre-load').hide()
            }
        })
    })

    function selectDistrict(DistrictPostalCode){
        $('#pre-load').show()
        $.ajax({
            type: "POST",
            url: "/GetDistrict",
            cache: false,
            dataType: 'json',
            data: {
                PostalProvinceCode: $('#province_edit').val()
            },
            success: function (response) {
                $('#district_edit').empty();
                var option = "";
                for (var i = 0; i < response.length; i++) {
                    option += "<option value='" + response[i].PostalDistrictCode + "'>" + response[i].PostalDistrictName + "</option>";
                }
                $('#district_edit').append(option);
                if (DistrictPostalCode != null) {
                    $('#district_edit').val(DistrictPostalCode)
                }
                $('#district_edit').formSelect();
                $('#pre-load').hide()
            },
            error: function () {
                $('#pre-load').hide()
            }
        })
    }

    $('#province_edit').change(function () {
        selectDistrict(null)
    })

    var contact = "";

    $("#phone_edit").keydown(function (e) {
        var arr = [];
        for (var i = 96; i <= 105; i++) {
            arr.push(i);
        }
        for (var i = 48; i <= 57; i++) {
            arr.push(i);
        }
        arr.push(8);
        if (arr.indexOf(e.keyCode) == -1 || ($(this).val().length >= 10 && e.keyCode!=8)) {
            e.preventDefault();
        }
    });

    $(document).on("click", 'section [class^=contact]', function () {
        contact = 'section [class^=contact]:nth-child(' + ($(this).index() + 1) + ')';
    })

    function removeAccents(str) {
        var AccentsMap = [
            "aàảãáạăằẳẵắặâầẩẫấậ",
            "AÀẢÃÁẠĂẰẲẴẮẶÂẦẨẪẤẬ",
            "dđ", "DĐ",
            "eèẻẽéẹêềểễếệ",
            "EÈẺẼÉẸÊỀỂỄẾỆ",
            "iìỉĩíị",
            "IÌỈĨÍỊ",
            "oòỏõóọôồổỗốộơờởỡớợ",
            "OÒỎÕÓỌÔỒỔỖỐỘƠỜỞỠỚỢ",
            "uùủũúụưừửữứự",
            "UÙỦŨÚỤƯỪỬỮỨỰ",
            "yỳỷỹýỵ",
            "YỲỶỸÝỴ"
        ];
        for (var i = 0; i < AccentsMap.length; i++) {
            var re = new RegExp('[' + AccentsMap[i].substr(1) + ']', 'g');
            var char = AccentsMap[i][0];
            str = str.replace(re, char);
        }
        return str;
    }

    $(document).on("click", "#save_contact_info", function () {
        var check = true;
        if ($('#name_edit').val().trim() == "") {
            $('p[name="name_edit"]').text("Vui lòng nhập Họ và tên")
            check = false;
        } else if (/^[a-zA-Z\s]+$/.test(removeAccents($('#name_edit').val().trim())) == false) {
            $('p[name="name_edit"]').text("Họ tên không chứa kí tự đặc biệt và số");
            check = false;
        } else {
            $('p[name="name_edit"]').text("")
        }
        var patt1 = new RegExp("^0[35789]\\d{8}$");
        if ($('#phone_edit').val().trim().length == 0) {
            $('p[name="phone_edit"]').text("Vui lòng nhập Số điện thoại")
            check = false;
        } else if (!patt1.test($('#phone_edit').val().trim())) {
            $('p[name="phone_edit"]').text("Số điện thoại không hợp lệ")
            check = false;
        }
        else {
            $('p[name="phone_edit"]').text("")
        }
        if ($('#province_edit').val() == null || $('#district_edit').val() == null) {
            $('p[name="district_edit"]').text("Vui lòng chọn Quận/Huyện");
            check = false;
        }
        else {
            $('p[name="district_edit"]').text("")
        }
        if ($('#street_edit').val().trim() == "") {
            $('p[name="street_edit"]').text("Vui lòng nhập Địa chỉ")
            check = false;
        }
        else {
            $('p[name="street_edit"]').text("")
        }

        if (type == 1 && $('#paper_type_edit').val() == null) {
            $('p[name="paper_type_edit"]').text("Vui lòng chọn Loại giấy tờ tùy thân")
            check = false;
        }
        else {
            $('p[name="paper_type_edit"]').text("")
        }

        if (type == 1 && $('#paper_number_edit').val().trim() == "") {
            $('p[name="paper_number_edit"]').text("Vui lòng nhập Số giấy tờ tùy thân")
            check = false;
        }
        else {
            $('p[name="paper_number_edit"]').text("")
        }
        if (check === false)
            return;
        else {
            $('#pre-load').show()
            $.ajax({
                type: "POST",
                url: "/giay-hen/nhap-giay-hen/thong-tin-thu-tuc/Add",
                cache: false,
                dataType: "json",
                data: {
                    FullName: $('#name_edit').val(),
                    Phone: $('#phone_edit').val(),
                    PostalDistrictCode: $('#district_edit').val(),
                    Street: $('#street_edit').val(),
                    PersonalPaperTypeID: $('#paper_type_edit').val(),
                    PersonalPaperNumber: $('#paper_number_edit').val(),
                    PersonalPaperIssuedDateString: $('#paper_date_edit').val(),
                    PersonalPaperIssuedPlace: $('#paper_place_edit').val(),
                    ContactInfoID: $('#info_edit').val(),
                    Type: type
                },
                success: function (response) {
                    if (response.success) {
                        if (response.add) {
                            if ($('.contact1').length == 0) {
                                $('#myform-p-2 .row').children().eq(1)[0].innerHTML = $('#myform-p-2 .row').children().eq(1)[0].innerHTML.replace('Bạn chưa có thông tin', 'Bạn muốn sử dụng thông tin khác?')                          
                                $('#myform-p-2 .row').children(':first').after(response.html[0])
                                $('#myform-p-2 .row').children(':first').after('<p class="col s12 big-heading m-b-15">Chọn thông tin có sẵn bên dưới:</p>')
                                
                                $('#myform-p-3 .row').children().eq(1)[0].innerHTML = $('#myform-p-3 .row').children().eq(1)[0].innerHTML.replace('Bạn chưa có thông tin', 'Bạn muốn sử dụng thông tin khác?')                          
                                $('#myform-p-3 .row').children(':first').after(response.html[1])
                                $('#myform-p-3 .row').children(':first').after('<p class="col s12 big-heading m-b-15">Chọn thông tin có sẵn bên dưới:</p>')
                                
                                $('#myform-p-4 .row').children().eq(1)[0].innerHTML = $('#myform-p-4 .row').children().eq(1)[0].innerHTML.replace('Bạn chưa có thông tin', 'Bạn muốn sử dụng thông tin khác?')                          
                                $('#myform-p-4 .row').children(':first').after(response.html[2])
                                $('#myform-p-4 .row').children(':first').after('<p class="col s12 big-heading m-b-15">Chọn thông tin có sẵn bên dưới:</p>')
                            } else {
                                $('.contact1:last').after(response.html[0]);
                                $('.contact2:last').after(response.html[1]);
                                $('.contact3:last').after(response.html[2]);
                            }
                        }
                        else {
                            $(contact).find('.FullName').text($('#name_edit').val())
                            $(contact).find('.Street').text($('#street_edit').val())
                            $(contact).find('.Address').text($('#district_edit option:selected').text() + ", " + $('#province_edit option:selected').text())
                            $(contact).find('.Address').data('district', $('#district_edit').val())
                            $(contact).find('.Phone').text($('#phone_edit').val())
                            $(contact).find('.PersonalPaperTypeName').text($('#paper_type_edit option:selected').text())
                            $(contact).find('.PersonalPaperTypeName').data('papertype', $('#paper_type_edit').val())
                            $(contact).find('.PersonalPaperNumber').text($('#paper_number_edit').val())
                            $(contact).find('.PersonalPaperIssuedDate').text($('#paper_date_edit').val())
                            $(contact).find('.PersonalPaperIssuedPlace').text($('#paper_place_edit').val())
                        }
                        $('#close-modal').click();
                        successAlert(response.message);
                    }
                    else
                        errorAlert(response.message)
                    $('#pre-load').hide()
                },
                error: function () {
                    $('#pre-load').hide()
                }
            })
        }
    })

    $(document).on("click", ".contactInfoType1", function () {
        var Adminprofile = $(this).closest('.contact1');
        if (Adminprofile.find('.PersonalPaperTypeName').text() == "" || Adminprofile.find('.PersonalPaperNumber').text() == "") {
            toastr.error("Xin hãy cập nhật đầy đủ thông tin trước khi chọn");
            return;
        }
        $('#ProcedurerFullName').text(Adminprofile.find('.FullName').text());
        $('#ProcedurerPhone').text(Adminprofile.find('.Phone').text());
        $('#ProcedurerStreet').text(Adminprofile.find('.Street').text());
        $('#ProcedurerAddress').text(Adminprofile.find('.Address').text());
        $('#ProcedurerPostalDistrictCode').text(Adminprofile.find('.Address').data("district"));
        $('#ProcedurerPersonalPaperTypeName').text(Adminprofile.find('.PersonalPaperTypeName').text());
        $('#ProcedurerPersonalPaperTypeID').text(Adminprofile.find('.PersonalPaperTypeName').data("papertype"));
        $('#ProcedurerPersonalPaperNumber').text(Adminprofile.find('.PersonalPaperNumber').text());
        $('#ProcedurerPersonalPaperIssuedDate').text(Adminprofile.find('.PersonalPaperIssuedDate').text());
        $('#ProcedurerPersonalPaperIssuedPlace').text(Adminprofile.find('.PersonalPaperIssuedPlace').text());
        $(".contact1").css('background-color', 'white');
        Adminprofile.css('background-color', '#e1ffe5');
        validate1 = true;
    })

    $(document).on("click", ".contactInfoType2", function () {
        var Adminprofile = $(this).closest('.contact2');
        $('#SenderFullName').text(Adminprofile.find('.FullName').text());
        $('#SenderPhone').text(Adminprofile.find('.Phone').text())
        $('#SenderStreet').text(Adminprofile.find('.Street').text())
        $('#SenderAddress').text(Adminprofile.find('.Address').text())
        $('#SenderPostalDistrictCode').text(Adminprofile.find('.Address').data("district"));
        $(".contact2").css('background-color', 'white');
        Adminprofile.css('background-color', '#e1ffe5');
        validate2 = true;
    })

    $(document).on("click", ".contactInfoType3", function () {
        var Adminprofile = $(this).closest('.contact3');
        $('.ReceiverFullName').text(Adminprofile.find('.FullName').text());
        $('#ReceiverPhone').text(Adminprofile.find('.Phone').text())
        $('.ReceiverStreet').text(Adminprofile.find('.Street').text())
        $('#ReceiverPostalDistrictCode').text(Adminprofile.find('.Address').data("district"));
        $('.ReceiverAddress').text(Adminprofile.find('.Address').text())
        var a = $('#isCheckContactType3-' + $(this).attr('data-contactinfoid'));
        $(".contact3").css('background-color', 'white');
        Adminprofile.css('background-color', '#e1ffe5');
        validate3 = true;
    })
</script>
<script>
    var form = $(".validation-wizard").show();
    var error = true;
    $(document).ready(function () {
        //Validation on change
        $('[id^=item]').change(function () {
            if ($(this).id == 'item1' && $('#item1').val() == null) {
                $('p[name="item1"]').text('Vui lòng chọn Tỉnh/Thành phố');
            } else {
                $('p[name="item1"]').text('');
                console.log('Change 1')
            }
            if ($(this).id == 'item2' && $('#item2').val() == null) {
                $('p[name="item2"]').text('Vui lòng chọn Quận/huyện')
            } else {
                $('p[name="item2"]').text('');
            }
            if ($(this).id == 'item3' && $('#item3').val() == null) {
                $('p[name="item3"]').text('Vui lòng chọn Tên cơ quan hành chính')
            } else {
                $('p[name="item3"]').text('');
            }
            if ($(this).id == 'item4' && $('#item4').val() == null) {
                $('p[name="item4"]').text('Vui lòng chọn Tên thủ tục');
            } else {
                $('p[name="item4"]').text('');
            }
        });

        function CheckAppoimentLetterCode() {
            if ($(this).val() == "" || $(this).val().trim() == "") {
                $('p[name="item5"]').text('Vui lòng nhập Mã giấy hẹn')
                return false;
            }
            else {
                $('#pre-load').show()
                $.ajax({
                    type: "POST",
                    url: "/giay-hen/nhap-giay-hen/thong-tin-thu-tuc/CheckAppointmentLetterCode",
                    cache: false,
                    dataType: "json",
                    data: {
                        AppointmentLetterCode: $(this).val()
                    },
                    success: function (response) {
                        error = response;
                        if (response === false)
                            $('p[name="item5"]').text('Mã giấy hẹn này đã được tạo bởi một đơn hàng trước đó, vào mục tìm kiếm để xem đơn hàng tương ứng với mã giấy hẹn này')
                        else
                            $('p[name="item5"]').text('')
                        $('#pre-load').hide()
                    },
                    error: function () {
                        $('#pre-load').hide()
                    }
                })
            }
        }

        $('#item5').focusout(function () {
            CheckAppoimentLetterCode();
        })
    })

    $(".validation-wizard").steps({
        headerTag: "h6",
        bodyTag: "section",
        transitionEffect: "fade",
        titleTemplate: '<span class="step">#index#</span> #title#',
        labels: {
            next: "Tiếp tục",
            previous: "Quay lại",
            finish: "Hoàn tất"
        },
        onStepChanging: function (event, currentIndex, newIndex) {
            window.scroll({
                top: 0,
                left: 0,
                behavior: 'smooth'
            });
            _currentIndex = currentIndex;
            _newIndex = newIndex;
            if (currentIndex === 0) {
                if ($('#blah').attr("src") === "#") {
                    $('p[name="item6"]').text('Vui lòng chọn Ảnh chụp giấy hẹn');
                    return false;
                }
                else {
                    $('p[name="item6"]').text('');
                    var data = new FormData();
                    data.append('image', dataURItoBlob($('#blah').attr("src")));
                    if (ImageData != $('#blah').attr("src")) {
                        //Clear step 2 data
                        $('#item1').val("");
                        $('#item1').formSelect();
                        $('#item5').val("");
                        $('#pre-load').show();
                        $.ajax({
                            type: "POST",
                            url: "https://ocr.vnpost.tech/ocr",
                            data: data,
                            contentType: false,
                            processData: false,
                            cache: false,
                            dataType: "json",
                            success: function (response) {
                                if (response.hasOwnProperty('form_id') && response.form_id != "") {
                                    response.raw_text = response.raw_text.replace(/\</gm, '');
                                    response.raw_text = response.raw_text.replace(/\>/gm, '');
                                    //Call OCR server success
                                    ImageData = $('#blah').attr("src");
                                    $.ajax({
                                        type: "POST",
                                        url: "/giay-hen/nhap-giay-hen/thong-tin-thu-tuc/GetOCRResult",
                                        dataType: "json",
                                        cache: false,
                                        data: response,
                                        success: function (result) {
                                            OCRResult = result;
                                            $('#item1').val(OCRResult.PostalProvinceCode);
                                            $('#item1').formSelect();
                                            UserDistrictsID = OCRResult.PostalDistrictCode;
                                            UserAdminLocationID = OCRResult.PublicAdministrationLocationID;
                                            UserProfileID = OCRResult.ProfileID;
                                            $("#item5").val(OCRResult.AppointmentLetterCode);
                                            //$('.AppointmentLetterCode').text(OCRResult.AppointmentLetterCode);
                                            $("#item5").next().addClass('active')
                                            //$("#item5").blur()
                                            getDistrict(OCRResult);
                                        },
                                        error: function () {
                                            $('#pre-load').hide();
                                        }
                                    }).done(function () {
                                        $('#pre-load').hide();
                                        //$('a[role="menuitem"]').eq(1).click();
                                    });
                                    } else {
                                    $('#pre-load').hide();
                                }
                            },
                            error: function () {
                                $('#pre-load').hide();
                                $('a[role="menuitem"]').eq(1).click();
                            }
                        })
                    }
                    return true;
                }
            }
            else if (currentIndex === 1 && newIndex > currentIndex) {
                var pass = true;
                if ($('#item1').val() == null) {
                    $('p[name="item1"]').text('Vui lòng chọn Tỉnh/Thành phố');
                    pass = false;
                }
                if ($('#item2').val() == null) {
                    $('p[name="item2"]').text('Vui lòng chọn Quận/huyện')
                    pass = false;
                }
                if ($('#item3').val() == null) {
                    $('p[name="item3"]').text('Vui lòng chọn Tên cơ quan hành chính')
                    pass = false;
                }
                if ($('#item4').val() == null) {
                    $('p[name="item4"]').text('Vui lòng chọn Tên thủ tục');
                    pass = false;
                }
                if ($('#item5').val() == "" || $('#item5').val().trim() == "") {
                    $('p[name="item5"]').text('Vui lòng nhập Mã giấy hẹn')
                    pass = false;
                }
                if (pass === false || error === false)
                    return;
                else {
                    $('p[name="item1"]').text('');
                    $('p[name="item2"]').text('');
                    $('p[name="item3"]').text('');
                    $('p[name="item4"]').text('');
                    $('p[name="item5"]').text('');
                    UserInvitation.UserProvinceCode = $('#item1').val()
                    UserInvitation.PostalDistrictCode = $('#item2').val()
                    UserInvitation.UserAdminLocationID = $('#item3').val()
                    UserInvitation.UserProfileID = $('#item4').val()
                    UserInvitation.UserLetterCode = $('#item5').val()
                    $.cookie('CreateInvitation', JSON.stringify(UserInvitation), { expires: 0 });
                    $('#c').css("width", $('#myform-p-0').width());
                    return true;
                }
            }
            else if (currentIndex === 2 && !validate1 && newIndex > currentIndex) {
                toastr.error('Vui lòng chọn thông tin người yêu cầu giải quyết TTHC');
                return false;
            }
            else if (currentIndex === 3 && !validate2 && newIndex > currentIndex) {
                toastr.error('Vui lòng chọn thông tin người gửi');
                return false;
            }
            else if (currentIndex === 4 && !validate3 && newIndex > currentIndex) {
                toastr.error('Vui lòng chọn thông tin người nhận');
                return false;
            }
            else if (currentIndex === 5) {
                UserInvitation.UserOrderNote = $('#OrderNote').val()
                $.cookie('CreateInvitation', JSON.stringify(UserInvitation), { expires: 0 });
                return true;
            }
            else
                return true;
        },
        onFinishing: function (event, currentIndex) {
            $('#pre-load').show();
            var data = new FormData();
            data.append("img", dataURItoBlob($('#blah').attr("src")));
            data.append("imgName", imageName);
            data.append("ProfileID", $('#item4').val().trim());
            data.append("AppointmentLetterCode", $('#item5').val().trim());
            data.append("ProcedurerFullName", $('#ProcedurerFullName').text().trim());
            data.append("ProcedurerPhone", $('#ProcedurerPhone').text().trim());
            data.append("ProcedurerPostalDistrictCode", $('#ProcedurerPostalDistrictCode').text().trim());
            data.append("ProcedurerPersonalPaperTypeID", $('#ProcedurerPersonalPaperTypeID').text().trim())
            data.append("ProcedurerStreet", $('#ProcedurerStreet').text().trim());
            data.append("ProcedurerPersonalPaperNumber", $('#ProcedurerPersonalPaperNumber').text().trim());
            data.append("ProcedurerPersonalPaperIssuedDate", $('#ProcedurerPersonalPaperIssuedDate').text().trim());
            data.append("ProcedurerPersonalPaperIssuedPlace", $('#ProcedurerPersonalPaperIssuedPlace').text().trim());
            data.append("SenderFullName", $('#SenderFullName').text().trim());
            data.append("SenderPhone", $('#SenderPhone').text().trim());
            data.append("SenderPostalDistrictCode", $('#SenderPostalDistrictCode').text().trim())
            data.append("SenderStreet", $('#SenderStreet').text().trim());
            data.append("ReceiverFullName", $('.ReceiverFullName').eq(0).text().trim());
            data.append("ReceiverPhone", $('#ReceiverPhone').text().trim());
            data.append("ReceiverPostalDistrictCode", $('#ReceiverPostalDistrictCode').text().trim())
            data.append("ReceiverStreet", $('.ReceiverStreet').eq(0).text().trim());
            data.append("OrderNote", $('#OrderNote').val().trim());
            $.ajax({
                type: "POST",
                url: "/don-hang/thanh-toan",
                data: data,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.success) {
                        $.removeCookie('CreateInvitation')
                        $('#id_raw').val(response.data)
                        $('#myform').submit();
                    }
                    else {
                        errorAlert(response.message)
                        $('#pre-load').hide();
                    }
                },
                error: function (request, status, error) {
                    errorAlert("Có lỗi xảy ra");
                    $('#pre-load').hide();
                }
            });
        },
    }), $(".validation-wizard").validate({
        ignore: "input[type=hidden]",
        errorClass: "text-danger",
        successClass: "text-success",
        highlight: function (element, errorClass) {
            $(element).removeClass(errorClass)
        },
        unhighlight: function (element, errorClass) {
            $(element).removeClass(errorClass)
        },
        errorPlacement: function (error, element) {
            error.insertAfter(element)
        },
        rules: {
            email: {
                email: !0
            }
        }
    })
</script>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            $("#img-display").show();
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width('100%')
                    .height('100%');
                var base64String = e.target.result;
                $('#c').attr("src", base64String);
            };
            reader.readAsDataURL(input.files[0]);
            imageName = input.files[0].name;
        }
    }

    function dataURLtoFile(dataURI) {
        var blobBin = atob(dataURI.split(',')[1]);
        var array = [];
        for (var i = 0; i < blobBin.length; i++) {
            array.push(blobBin.charCodeAt(i));
        }
        var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];
        var file = new Blob([new Uint8Array(array)], { type: mimeString });
        file.name = "anh_giay_hen"

        //$("#img-capture-file").file

        $("#img-display").show();
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#blah')
                .attr('src', e.target.result)
                .width('100%')
                .height('100%');
            var base64String = e.target.result;
            var image = new Image();
            image.src = base64String;
            $('#img').empty();
            $('#img').append(image);
            $('#img').children().width("100%")
        };
        reader.readAsDataURL(file);
        data.delete("img")
        data.delete("imgName")
        data.append("img", file);
        data.append("imgName", file.name)
    }
</script>
<script>
    function rotateRight() {
        if ($('#blah').attr("src") === "#") return;
        $('#pre-load').show();
        var image = new Image();
        image.src = $('#blah').attr("src");
        image.onload = function () {
            var canvas = document.createElement("canvas");
            var ctx = canvas.getContext("2d");
            canvas.width = image.height;
            canvas.height = image.width;
            ctx.rotate(90 * Math.PI / 180);
            ctx.translate(0, -canvas.width);
            ctx.drawImage(image, 0, 0);
            var URL = canvas.toDataURL('image/jpeg');
            $('#blah').attr("src", URL);
            $('#c').attr("src", URL);
            $('#pre-load').hide();
        };
    }

    function rotateLeft() {
        if ($('#blah').attr("src") === "#") return;
        $('#pre-load').show();
        var image = new Image();
        image.src = $('#blah').attr("src");
        image.onload = function () {
            var canvas = document.createElement("canvas");
            var ctx = canvas.getContext("2d");
            canvas.width = image.height;
            canvas.height = image.width;
            ctx.rotate(270 * Math.PI / 180);
            ctx.translate(-canvas.height, 0);
            ctx.drawImage(image, 0, 0);
            var URL = canvas.toDataURL('image/jpeg');
            $('#blah').attr("src", URL);
            $('#c').attr("src", URL);
            $('#pre-load').hide();
        };
    }

    function dataURItoBlob(dataURI) {
        var blobBin = atob(dataURI.split(',')[1]);
        var array = [];
        for (var i = 0; i < blobBin.length; i++) {
            array.push(blobBin.charCodeAt(i));
        }
        var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];
        var file = new Blob([new Uint8Array(array)], { type: mimeString });
        return file;
    }
</script>
<script>
    //$(function () {
    //    $(".steps.clearfix").hide();
    //})
    $("#img-chooser").click(function () {
        $("#img-chooser-file").click();
    })
    $("#img-capture").click(function () {
        $("#img-capture-file").click();
    })
    $("#img-capture-for-app").click(function () {
        app_take_picture();
    })

    function app_take_picture() {
        try {
            VNPostAPP.TakePicture(); //<-- executes C# code
        }
        catch (err) {
            errorAlert(err);
        }
    }
</script>
<script src="~/assets/libs/toastr/build/toastr.min.js"></script>
<script src="~/assets/extra-libs/toastr/toastr-init.js"></script>
<script src="~/CustomJS/datepicker_src/dist/js/datepicker.js"></script>
<script src="~/CustomJS/datepicker_src/dist/js/i18n/datepicker.vi.js"></script>